In [1]:
import os
import sys
import re

import pandas as pd

sys.path.append('../../../')
from custom_utils.data_utils import merge_json_datasets, merge_json_datasets_parallel, merge_excel_datasets

### 111. 전문분야

In [11]:
folder_path_111_train = '../111_expertized_fields/1.Training/라벨링데이터'
folder_path_111_eval = '../111_expertized_fields/2.Validation/라벨링데이터'

train_111_df_raw = merge_json_datasets(folder_path_111_train)
train_111_df = train_111_df_raw[['한국어', '영어']]
train_111_df = train_111_df.rename(columns={'한국어': 'ko', '영어': 'en'})

eval_111_df_raw = merge_json_datasets(folder_path_111_eval)
eval_111_df = eval_111_df_raw[['한국어', '영어']]
eval_111_df = eval_111_df.rename(columns={'한국어': 'ko', '영어': 'en'})

total_111_df = pd.concat([train_111_df, eval_111_df], ignore_index=True)
total_111_df['source'] = 111

100%|██████████| 8/8 [00:10<00:00,  1.31s/it]
100%|██████████| 8/8 [00:01<00:00,  6.91it/s]

In [12]:
total_111_df.head()

,ko,en,source
0,통영 용남면 장평리 바닷가 해안도로 앞에 위치한 통영 늘푸른 펜션에 오신 것을 환영...,Welcome to Tongyeong's Evergreen Pension locat...,111
1,허브아일랜드의 불빛동화 축제는 국내 최고 겨울축제 중 하나로 꼽힌다.,Herb Island's Light Fairy Tale Festival is con...,111
2,봉비산 자락에 위치하고 있는 도심 속의 전통 사찰이다.,It is a traditional temple in the city center ...,111
3,수룡동 마을안길로 들어가면 쉽게 오를 수 있다.,It can be easily climbed by entering the insid...,111
4,"토스 측은 ""가족과 함께 송편을 나눠먹듯, 송편지원금 또한 가족, 친척, 친구, 오...","Toss explained the meaning of the event, sayin...",111

In [13]:
print("Train length:", len(train_111_df))
print("Validation length:", len(eval_111_df))
print("Total length:", len(total_111_df))

Train length: 1200000
Validation length: 150000
Total length: 1350000

### 124. 기술과학 1

In [14]:
file_path_124_train = '../124_tech_and_science_2/01.데이터/1.Training_1113_add/1113_tech_train_set_1195228.csv'
file_path_124_eval = '../124_tech_and_science_2/01.데이터/2.Validation_1113_add/1113_tech_valid_set_149403.csv'

train_124_df_raw = pd.read_csv(file_path_124_train)
train_124_df = train_124_df_raw[['ko', 'en']]

eval_124_df_raw = pd.read_csv(file_path_124_eval)
eval_124_df = eval_124_df_raw[['ko', 'en']]

total_124_df = pd.concat([train_124_df, eval_124_df], ignore_index=True)
total_124_df['source'] = 124

In [15]:
total_124_df.head()

,ko,en,source
0,오븐 세척제에 포함된 피부 부식성/자극성 물질은 모두 심한 눈손상성/눈 자극성에도 ...,All skin corrosion/irritation substances conta...,124
1,국내에서는 2030년 BAU 대비 37%의 온실가스 감축을 의무화함으로써 이에 따른...,"In Korea, it really is urgent to produce an an...",124
2,수술 전 정맥혈을 채취하고 월경주기의 난포기 동안 8시간 이상 금식한 후 정맥혈액을...,"Before the operation, blood samples were obtai...",124
3,3등급 이하 인정자는 8.2%만이 재가급여에서 시설급여로 변경하였다.,Only 8.2% of third graders or lower changed fr...,124
4,센싱에 의해 공기 중 오일입자가 기준치이하인지 여부를 판단할 수 있다.,It is possible to determine whether or not the...,124

In [16]:
print("Train length:", len(train_124_df))
print("Validation length:", len(eval_124_df))
print("Total length:", len(total_124_df))

Train length: 1195228
Validation length: 149403
Total length: 1344631

### 125. 사회과학

In [17]:
file_path_125_train = '../125_social_science/01.데이터/1.Training_1113_add/1113_social_train_set_1210529.csv'
file_path_125_eval = '../125_social_science/01.데이터/2.Validation_1113_add/1113_social_valid_set_151316.csv'

train_125_df_raw = pd.read_csv(file_path_125_train)
train_125_df = train_125_df_raw[['ko', 'en']]

eval_125_df_raw = pd.read_csv(file_path_125_eval)
eval_125_df = eval_125_df_raw[['ko', 'en']]

total_125_df = pd.concat([train_125_df, eval_125_df], ignore_index=True)
total_125_df['source'] = 125

In [18]:
total_125_df.head()

,ko,en,source
0,제2항을 함께 두는 것이 적절한지에 대하여 논의 과정에서 의문이 제기되기도 하였다.,"In the course of the discussion, questions wer...",125
1,문제는 거래가 끊어진 경우에는 실제 거래가 이뤄지지 않기 때문에 이러한 실거래가 자...,"If the transaction is cut off, the actual tran...",125
2,이러한 공공 부문 이동기기 개인 영상정보 규율의 문제점을 개선하기 위해 보호 체계 ...,This discussed ways to improve the protection ...,125
3,그 내용은 부품 사업자가 쉽게 알 수 없고 관여할 수 없기 때문에 중간 부품 생산자...,Since the contents are not easily known and in...,125
4,매칭정보를 획득하게 되면 통상 ‘ARP spoofing’이라는 해킹기법을 사용한다.,"When matching information is obtained, a hacki...",125

In [19]:
print("Train length:", len(train_125_df))
print("Validation length:", len(eval_125_df))
print("Total length:", len(total_125_df))

Train length: 1210529
Validation length: 151316
Total length: 1361845

### 126. 일반

In [20]:
folder_path_126 = '../126_general'

total_126_df_raw = merge_excel_datasets(folder_path_126)
total_126_df = total_126_df_raw[['원문', '번역문']]
total_126_df = total_126_df.rename(columns={'원문': 'ko', '번역문': 'en'})
total_126_df['source'] = 126

/home/tmax/anaconda3/envs/qlora/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/home/tmax/anaconda3/envs/qlora/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/home/tmax/anaconda3/envs/qlora/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/home/tmax/anaconda3/envs/qlora/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [21]:
total_126_df.head()

,ko,en,source
0,그 이후 그의 행방이 알려지지 않은 상황이다.,"Since then, his whereabouts are unknown.",126
1,그녀가 사라진 후 각종 의혹은 꼬리를 물었다.,Various doubts arose after she disappeared.,126
2,당연히 러시아인 승객이 제일 먼저 부름을 받았다.,"Naturally, Russian passengers were called first.",126
3,더 중요한 것은 고용이 대체적으로 안정됐다는 점이다.,"More importantly, employment is generally stable.",126
4,모세가 죽고 나서 이제 여호수아가 이스라엘을 이끌었습니다.,Joshua led Israel after Moses died.,126

In [22]:
print("Total length:", len(total_126_df))

Total length: 1602418

### 563. 산업특허

In [23]:
folder_path_563_train = '../563_industrial_patent/01.데이터/1.Training/라벨링데이터_0831_add'
folder_path_563_eval = '../563_industrial_patent/01.데이터/2.Validation/라벨링데이터_0831_add'

train_563_df_raw = merge_json_datasets(folder_path_563_train, top_category='labeled_data')
train_563_df = train_563_df_raw[['astrt_cont_kor', 'astrt_cont_eng']]
train_563_df = train_563_df.rename(columns={'astrt_cont_kor': 'ko', 'astrt_cont_eng': 'en'})

eval_563_df_raw = merge_json_datasets(folder_path_563_eval, top_category='labeled_data')
eval_563_df = eval_563_df_raw[['astrt_cont_kor', 'astrt_cont_eng']]
eval_563_df = eval_563_df.rename(columns={'astrt_cont_kor': 'ko', 'astrt_cont_eng': 'en'})

total_563_df = pd.concat([train_563_df, eval_563_df], ignore_index=True)
total_563_df['source'] = 563

100%|██████████| 500/500 [00:36<00:00, 13.74it/s]
100%|██████████| 500/500 [00:04<00:00, 118.03it/s]

In [24]:
total_563_df.head()

,ko,en,source
0,생체임피던스 분광학을 사용하여 피부 나트륨 함량을 결정하기 위한 기술은 사전결정된 ...,A technique for determining skin sodium conten...,563
1,본 발명은 에탄 또는 이산화탄소(이들은 액체 매질에 실질적으로 용해됨) 및 단량체(...,The invention relates to an efficient process ...,563
2,본원에 개시된 방법 및 시스템은 앵커 배치를 위한 시스템 및 방법을 제공한다.,Methods and systems disclosed herein provide s...,563
3,"pINF-α에서의 선택 위치에 합성 아미노산, 및 신호 펩티드의 제거 후 N-말단에...",Disclosed herein are porcine interferon alpha ...,563
4,"근단(proximal end)(23)과 원단(distal end)(20)과, 종 방...",A vitreous cutter for use in removing vitreous...,563

In [25]:
print("Train length:", len(train_563_df))
print("Validation length:", len(eval_563_df))
print("Total length:", len(total_563_df))

Train length: 319997
Validation length: 40002
Total length: 359999

### 71265. 구어체

In [26]:
folder_path_71265_train = '../71265_colloquial/01.데이터/1.Training/라벨링데이터'
folder_path_71265_eval = '../71265_colloquial/01.데이터/2.Validation/라벨링데이터'

train_71265_df_raw = merge_json_datasets(folder_path_71265_train, top_category='data')
train_71265_df = train_71265_df_raw[['ko', 'en']]
eval_71265_df_raw = merge_json_datasets(folder_path_71265_eval, top_category='data')
eval_71265_df = eval_71265_df_raw[['ko', 'en']]

total_71265_df = pd.concat([train_71265_df, eval_71265_df], ignore_index=True)
total_71265_df['source'] = 71265

100%|██████████| 2/2 [00:29<00:00, 14.57s/it]
100%|██████████| 2/2 [00:03<00:00,  1.92s/it]

In [27]:
total_71265_df.head()

,ko,en,source
0,"그 말을 들으니 기쁘고, 저희와 거래하는 것을 고려해 주셨으면 합니다.","I'm glad to hear that, and I hope you do consi...",71265
1,"확실히 생각하고 있습니다만, 몇 가지 여쭤보고 싶은 게 있어요.","I'm definitely thinking about it, but I have s...",71265
2,오늘날 세계 5가구 중 1가구는 고양이나 개 또는 둘 다를 키우고 있습니다.,"In today's world, one in every five families h...",71265
3,"그들에게 말하면, 저희가 그 아이들을 돌볼 것입니다.","When you tell them, we'll take care of their c...",71265
4,"좋아요, 수영은 어떤가요?","OK, how about for swimming?",71265

In [28]:
print("Train length:", len(train_71265_df))
print("Validation length:", len(eval_71265_df))
print("Total length:", len(total_71265_df))

Train length: 2400307
Validation length: 300038
Total length: 2700345

### 71266. 기술과학 2

In [29]:
folder_path_71266_train = '../71266_tech_and_science_1/01.데이터/1.Training/라벨링데이터'
folder_path_71266_eval = '../71266_tech_and_science_1/01.데이터/2.Validation/라벨링데이터'

train_71266_df_raw = merge_json_datasets(folder_path_71266_train, top_category='data')
train_71266_df = train_71266_df_raw[['ko', 'en']]
eval_71266_df_raw = merge_json_datasets(folder_path_71266_eval, top_category='data')
eval_71266_df = eval_71266_df_raw[['ko', 'en']]

total_71266_df = pd.concat([train_71266_df, eval_71266_df], ignore_index=True)
total_71266_df['source'] = 71266

100%|██████████| 1/1 [00:22<00:00, 22.63s/it]
100%|██████████| 1/1 [00:02<00:00,  2.78s/it]

In [30]:
total_71266_df.head()

,ko,en,source
0,한 의료단체는 연방법원에 보건부 지침 취소를 요구하는 소송을 제기하기도 했다.,A medical group has even filed a federal court...,71266
1,특정 지역에서는 순위 변동이 크게 나타나고 있는 점에 주목해야 한다.,It should be noted that there are significant ...,71266
2,일본·중국·한국의 학자들이 참석해 개발학의 현황부터 유엔의 '2030 지속가능 개발...,"Scholars from Japan, China, and Korea will loo...",71266
3,"비교기(1235 및 1237)는 설정에 따라 Relu 활성함수로 나타낼 수 있으며,...",The comparators 1235 and 1237 may be expressed...,71266
4,이 프로그램은 도시 재생의 초점을 낙후 지역이나 불량 주택을 철거하기보다는 근린 지...,The program is credited with focusing urban re...,71266

In [31]:
print("Train length:", len(train_71266_df))
print("Validation length:", len(eval_71266_df))
print("Total length:", len(total_71266_df))

Train length: 1200144
Validation length: 150018
Total length: 1350162

### 71382. 방송콘텐츠

In [32]:
def is_korean(text):
    korean_pattern = re.compile('[ㄱ-ㅎㅏ-ㅣ가-힣]+')
    return bool(korean_pattern.search(text))

In [3]:
folder_path_71382_train = '../71382_broadcast_contents/01-1.정식개방데이터/Training/02.라벨링데이터'
folder_path_71382_eval = '../71382_broadcast_contents/01-1.정식개방데이터/Validation/02.라벨링데이터'

train_71382_df_raw = merge_json_datasets_parallel(folder_path_71382_train, num_processes=4)
train_71382_df = train_71382_df_raw[['원문', '최종번역문']]
train_71382_df = train_71382_df.rename(columns={'원문': 'ko', '최종번역문': 'en'})
for idx, row in train_71382_df.iterrows():
    if is_korean(row['en']):
        train_71382_df.at[idx, 'ko'], train_71382_df.at[idx, 'en'] = train_71382_df.at[idx, 'en'], train_71382_df.at[idx, 'ko']

eval_71382_df_raw = merge_json_datasets_parallel(folder_path_71382_eval, num_processes=4)
eval_71382_df = eval_71382_df_raw[['원문', '최종번역문']]
eval_71382_df = eval_71382_df.rename(columns={'원문': 'ko', '최종번역문': 'en'})
for idx, row in eval_71382_df.iterrows():
    if is_korean(row['en']):
        eval_71382_df.at[idx, 'ko'], eval_71382_df.at[idx, 'en'] = eval_71382_df.at[idx, 'en'], eval_71382_df.at[idx, 'ko']

total_71382_df = pd.concat([train_71382_df, eval_71382_df], ignore_index=True)
total_71382_df['source'] = 71382

100%|██████████| 521653/521653 [01:18<00:00, 6651.52it/s]
100%|██████████| 65431/65431 [00:10<00:00, 6036.47it/s]

In [8]:
total_71382_df.head()

,ko,en,source
0,이 작물은 잎과 뿌리를 모두 먹을 수 있는 채소인데요.,This crop is a vegetable in which both leaves ...,71382
1,우리가 끝낼 수 있을까요?,Are we gonna finish it?,71382
2,"네, 시청자 여러분에게 마지막 인사 부탁드려요.","Yes, please say one last goodbye for the viewers.",71382
3,엄마의 사랑이 만드는 옷이네요.,These are clothes made by mom's love.,71382
4,인도네시아는 오늘날 진정한 민주주의 국가이지만 이슬람 정당은 2004년 약 38%에...,"Indonesia is a true democracy today, but Islam...",71382

In [9]:
print("Train length:", len(train_71382_df))
print("Validation length:", len(eval_71382_df))
print("Total length:", len(total_71382_df))

Train length: 521653
Validation length: 65431
Total length: 587084

### 개별 저장 및 통합

In [33]:
total_111_df.to_csv('./integrated_subsets/111_expertized_fields_raw.csv', index=False)
total_124_df.to_csv('./integrated_subsets/124_tech_and_science_2_raw.csv', index=False)
total_125_df.to_csv('./integrated_subsets/125_social_science_raw.csv', index=False)
total_126_df.to_csv('./integrated_subsets/126_general_raw.csv', index=False)
total_563_df.to_csv('./integrated_subsets/563_industrial_patent_raw.csv', index=False)
total_71265_df.to_csv('./integrated_subsets/71265_colloquial_raw.csv', index=False)
total_71266_df.to_csv('./integrated_subsets/71266_tech_and_science_1_raw.csv', index=False)
total_71382_df.to_csv('./integrated_subsets/71382_broadcast_contents_raw.csv', index=False)

In [43]:
subset_df_list = [
    total_111_df, 
    total_124_df, 
    total_125_df, 
    total_126_df, 
    total_563_df, 
    total_71265_df, 
    total_71266_df, 
    total_71382_df
]

total_df = pd.concat(subset_df_list, ignore_index=True)
total_df.head()

,ko,en,source
0,통영 용남면 장평리 바닷가 해안도로 앞에 위치한 통영 늘푸른 펜션에 오신 것을 환영...,Welcome to Tongyeong's Evergreen Pension locat...,111
1,허브아일랜드의 불빛동화 축제는 국내 최고 겨울축제 중 하나로 꼽힌다.,Herb Island's Light Fairy Tale Festival is con...,111
2,봉비산 자락에 위치하고 있는 도심 속의 전통 사찰이다.,It is a traditional temple in the city center ...,111
3,수룡동 마을안길로 들어가면 쉽게 오를 수 있다.,It can be easily climbed by entering the insid...,111
4,"토스 측은 ""가족과 함께 송편을 나눠먹듯, 송편지원금 또한 가족, 친척, 친구, 오...","Toss explained the meaning of the event, sayin...",111

In [36]:
print("Total length:", len(total_df))

Total length: 10656484

In [46]:
subset_df_name_dict = {
    111: 'expertized_fields', 
    124: 'tech_and_science_2', 
    125: 'social_science', 
    126: 'general', 
    563: 'industrial_patent', 
    71265: 'colloquial', 
    71266: 'tech_and_science_1', 
    71382: 'broadcast_contents'
}
for num, name, df in zip(subset_df_name_dict.keys(), subset_df_name_dict.values(), subset_df_list):
    print(f"Dataset #{num}({name})'s proportion: {len(df)/len(total_df) * 100:.2f}%")

Dataset #111(expertized_fields)'s proportion: 12.67%
Dataset #124(tech_and_science_2)'s proportion: 12.62%
Dataset #125(social_science)'s proportion: 12.78%
Dataset #126(general)'s proportion: 15.04%
Dataset #563(industrial_patent)'s proportion: 3.38%
Dataset #71265(colloquial)'s proportion: 25.34%
Dataset #71266(tech_and_science_1)'s proportion: 12.67%
Dataset #71382(broadcast_contents)'s proportion: 5.51%

In [37]:
total_df.to_csv('./integrated_subsets/total_raw.csv', index=False)

In [40]:
sample_df = total_df.sample(n=10000, random_state=42)
sample_df.head()

,ko,en,source
8551364,그 결과 오염이 최소화되었습니다.,"As a result, pollution has been minimized.",71265
9923056,"AAA의 정의 2원칙 중에서 제1원칙은 ""자유 우선 원칙""이며, 제2원칙은 ""차등의...","Among the two definitions of the AAA, the firs...",71266
9819744,이 연구는 미국 J. 크레이그 벤터 연구소의 유인 커크니스와 일리노이주립대 어바나 ...,The study was led by Mann Kirkness of the J. C...,71266
2781159,교사는 자신에 대하여 긍정적인 정서를 갖지 않은 학생들에게도 잠재적 차원에서 그들의...,Teachers need to pay attention to maintaining ...,125
2450356,"따라서, 사용자는 수신자의 상태를 알 수 없으므로 여러 번 연결 시도를 해야하는 불...","Accordingly, since the user cannot know the st...",124

In [41]:
sample_df.to_csv('./integrated_subsets/sample_raw_10000.csv', index=False)