In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split

### 저 성능 데이터 추가

In [11]:
total_drop_long = pd.read_csv('./integrated_total/total_drop_long.csv')
total_drop_long.head()

,ko,en,source
0,통영 용남면 장평리 바닷가 해안도로 앞에 위치한 통영 늘푸른 펜션에 오신 것을 환영...,Welcome to Tongyeong's Evergreen Pension locat...,111
1,허브아일랜드의 불빛동화 축제는 국내 최고 겨울축제 중 하나로 꼽힌다.,Herb Island's Light Fairy Tale Festival is con...,111
2,봉비산 자락에 위치하고 있는 도심 속의 전통 사찰이다.,It is a traditional temple in the city center ...,111
3,수룡동 마을안길로 들어가면 쉽게 오를 수 있다.,It can be easily climbed by entering the insid...,111
4,"토스 측은 ""가족과 함께 송편을 나눠먹듯, 송편지원금 또한 가족, 친척, 친구, 오...","Toss explained the meaning of the event, sayin...",111

In [7]:
train = pd.read_csv('./aihub-koen-translation-integrated-tiny-100k/train.csv')
eval = pd.read_csv('./aihub-koen-translation-integrated-tiny-100k/validation.csv')
test = pd.read_csv('./aihub-koen-translation-integrated-tiny-100k/test.csv')

In [12]:
total_drop_long_shuffle = total_drop_long.sample(frac=1.0, random_state=42)
total_drop_long_shuffle.head()

,ko,en,source
1185099,대한축구협회가 한국형 디비전시스템 정착을 위해 FA컵부터 체제를 바꿨다.,The Korea Football Association has changed its...,111
1331233,질병관리본부 중앙방역대책본부는 이날 중국 국적의 30세 여성이 신종 코로나 확진 판...,The Central Disease Control Headquarters of th...,111
5629969,"문 대통령이 연설에서 언급하지는 않았지만, 대북 제재에 막힌 남북 철도 협력사업에 ...",Although President Moon did not mention it in ...,126
4349041,"경찰은 부부의 사인을 밝히기 위해 부검을 할 예정이며, 온수 매트로 인한 질식사 가...",Police will conduct an autopsy to determine th...,126
3845046,AAA의 자유주의적 다문화주의는 자유를 강조하는 자유주의 입장과 기본적으로 동일하지...,The liberal multiculturalism of AAA is basical...,125

In [13]:
train_value_counts = train['source'].value_counts()
train_value_counts

source
71265    19712
126      12780
111      10919
124      10877
125      10818
71266    10733
71382     4601
563       2892
Name: count, dtype: int64

In [10]:
eval_value_counts = eval['source'].value_counts()
eval_value_counts

source
71265    2529
126      1590
124      1349
71266    1342
111      1332
125      1328
71382     585
563       362
Name: count, dtype: int64

In [14]:
test_value_counts = test['source'].value_counts()
test_value_counts

source
71265    2538
126      1614
125      1371
111      1362
124      1321
71266    1319
71382     565
563       327
Name: count, dtype: int64

In [36]:
from tqdm import tqdm

train = pd.read_csv('./aihub-koen-translation-integrated-tiny-100k/train.csv')
eval = pd.read_csv('./aihub-koen-translation-integrated-tiny-100k/validation.csv')
test = pd.read_csv('./aihub-koen-translation-integrated-tiny-100k/test.csv')
train_value_counts = train['source'].value_counts()
eval_value_counts = eval['source'].value_counts()
test_value_counts = test['source'].value_counts()

for src in [111, 125, 126, 71382]:
    total_necessary = total_drop_long_shuffle[total_drop_long_shuffle['source'] == src]
    train_ko_list = train[train['source'] == src]['ko'].tolist()
    eval_ko_list = eval[eval['source'] == src]['ko'].tolist()
    test_ko_list = test[test['source'] == src]['ko'].tolist()
    for idx, row in tqdm(total_necessary.iterrows(), total=len(total_necessary)):
        if train_value_counts[src] < 50000:
            if row['ko'] in train_ko_list:
                continue
            if row['ko'] in eval_ko_list:
                continue
            if row['ko'] in test_ko_list:
                continue
            train=pd.concat([train, pd.DataFrame(row).T], ignore_index=True)
            train_value_counts[src] += 1
        if train_value_counts[src] == 50000:
            print(train_value_counts)
            break

  3%|▎         | 39488/1350000 [03:46<2:05:15, 174.38it/s]

source
71265    19712
126      12780
111      50000
124      10877
125      10818
71266    10733
71382     4601
563       2892
Name: count, dtype: int64

  3%|▎         | 39562/1361825 [05:43<3:11:34, 115.03it/s]

source
71265    19712
126      12780
111      50000
124      10877
125      50000
71266    10733
71382     4601
563       2892
Name: count, dtype: int64

  2%|▏         | 37585/1599924 [07:20<5:05:16, 85.30it/s]

source
71265    19712
126      50000
111      50000
124      10877
125      50000
71266    10733
71382     4601
563       2892
Name: count, dtype: int64

  8%|▊         | 45832/586660 [10:35<2:05:03, 72.07it/s]

source
71265    19712
126      50000
111      50000
124      10877
125      50000
71266    10733
71382    50000
563       2892
Name: count, dtype: int64

In [37]:
display(train.head())
display(len(train))

,ko,en,source
0,지방세법 개정안에 따른 종합부동산세는 부과징수권자의 경우를 제외하고는 대부분 종전 ...,Comprehensive real estate tax according to the...,125
1,실신 당시 5초 정도 의식소실이 있었고 바로 의식은 회복되으며 신경학적 이상증상은 ...,"At the time of fainting, there was a loss of c...",124
2,문 대통령의 10월 방일이 성사될 경우 한·일 양국은 일본군 위안부 합의 이행 문제...,"If President Moon visits Japan in October, the...",126
3,인덱스 펀드에 대한 투자에서는 장기적인 관점에서 수익을 얻을 수 있습니다.,Investment in index funds provides profitabili...,71265
4,돌봐야 하는 비용도 있지.,I also have expenses to take care of.,71265

244214

In [38]:
train.to_csv('./train.csv', index=False)

In [73]:
eval.head()

,ko,en,source
0,"한일 관계 악화가 양국의 경제, 사회, 문화 등 다른 분야에 미치는 악영향을 최소화...",It is crucial to attenuate the adverse effects...,71266
1,"직접 설계할 수 있습니다. 네, 기존 시스템에 추가 시스템을 개발했습니다.","You can design your own, yes, we have develope...",71265
2,"정말 중요한 얘기는 그 다음에 이어지는데, AAA는 우리는 이것들을 거부하거나 경멸...",The really important story follows what the AA...,71266
3,추운 겨울이 지나버렸고 그리고 새로운 그 계절이 왔어.,Cold winter has passed and the new season came.,126
4,러시아가 금메달 17개로 종합순위 1위를 차지했고 개최국 이탈리아가 금메달 5개로 ...,Russia topped the overall list with 17 gold me...,111

In [76]:
eval_value_counts = eval['source'].value_counts()
eval_value_counts

source
71265    2529
126      1590
124      1349
71266    1342
111      1332
125      1328
71382     585
563       362
Name: count, dtype: int64

In [79]:
sample_size = 300
eval_uniform = pd.DataFrame()

for source, count in eval_value_counts.items():
    if count <= sample_size:
        sampled_rows = eval[eval['source'] == source]
    else:
        sampled_rows = eval[eval['source'] == source].sample(n=sample_size, random_state=42)
    eval_uniform = pd.concat([eval_uniform, sampled_rows])

eval_uniform.reset_index(drop=True, inplace=True)
eval_uniform['source'].value_counts()

source
71265    300
126      300
124      300
71266    300
111      300
125      300
71382    300
563      300
Name: count, dtype: int64

In [81]:
eval_uniform_shuffle = eval_uniform.sample(frac=1.0, random_state=42)
eval_uniform_shuffle.head()

,ko,en,source
2037,요즘 안 그래도 일이 없어졌는데 슬퍼지네요.,I'm getting sad even though I've been out of w...,71382
1978,벌써 56년 이니까 오래됐죠.,"It's already been 56 years, so it's been a lon...",71382
855,통풍이 있으면 요산 배설을 막고 요산 합성을 촉진시킬 수 있기 때문에 통풍이 있는 ...,People with gout should abstain from drinking ...,124
1719,따라서 본 연구는 비주거용 부동산 가격공시제도 도입에 대비한 부동산 관련 지방세 과...,The purpose of this study is to present a plan...,125
2019,결혼을 일찍 했네요.,You got married early.,71382

In [82]:
eval_uniform_shuffle.to_csv('./validation.csv', index=False)

### 겹치지 않는 다른 tiny 세트

In [19]:
total = pd.read_csv('./integrated_total/total.csv')
total.head()

,ko,en,source
0,통영 용남면 장평리 바닷가 해안도로 앞에 위치한 통영 늘푸른 펜션에 오신 것을 환영...,Welcome to Tongyeong's Evergreen Pension locat...,111
1,허브아일랜드의 불빛동화 축제는 국내 최고 겨울축제 중 하나로 꼽힌다.,Herb Island's Light Fairy Tale Festival is con...,111
2,봉비산 자락에 위치하고 있는 도심 속의 전통 사찰이다.,It is a traditional temple in the city center ...,111
3,수룡동 마을안길로 들어가면 쉽게 오를 수 있다.,It can be easily climbed by entering the insid...,111
4,"토스 측은 ""가족과 함께 송편을 나눠먹듯, 송편지원금 또한 가족, 친척, 친구, 오...","Toss explained the meaning of the event, sayin...",111

In [20]:
total_shuffle = total.sample(frac=1.0, random_state=42)
total_shuffle.head()

,ko,en,source
1656390,이러한 역변태 오스테나이트의 존재는 기계적 성질에 큰 영향을 미칠 것으로 예상된다.,The presence of this reverse transformation au...,124
9242028,"현금 급여 사업의 경우 중앙의 지원이 예측 가능하여야 하며, 안정적으로 지원되지 못...","In the event of the cash advantage project, ce...",71266
3037161,마찬가지로 최근 애완동물 및 관련 산업이 성장함에 따라 애완동물 보험도 새롭게 조명...,"Likewise, with the recent growth of pets and r...",125
589364,서로 다른 전공의 학생들이 한 강의실에서 배우면서 파편화된 교육에서 벗어나 데이터사...,As students from different majors learn in one...,111
8078784,20개 이상의 문구를 말합니다.,Say more than 20 phrases.,71265

In [18]:
tiny_train = pd.read_csv('./aihub-koen-translation-integrated-tiny-100k/train.csv')
tiny_eval = pd.read_csv('./aihub-koen-translation-integrated-tiny-100k/validation.csv')
tiny_test = pd.read_csv('./aihub-koen-translation-integrated-tiny-100k/test.csv')
display(tiny_train.head())
display(tiny_eval.head())
display(tiny_test.head())

,ko,en,source
0,지방세법 개정안에 따른 종합부동산세는 부과징수권자의 경우를 제외하고는 대부분 종전 ...,Comprehensive real estate tax according to the...,125
1,실신 당시 5초 정도 의식소실이 있었고 바로 의식은 회복되으며 신경학적 이상증상은 ...,"At the time of fainting, there was a loss of c...",124
2,문 대통령의 10월 방일이 성사될 경우 한·일 양국은 일본군 위안부 합의 이행 문제...,"If President Moon visits Japan in October, the...",126
3,인덱스 펀드에 대한 투자에서는 장기적인 관점에서 수익을 얻을 수 있습니다.,Investment in index funds provides profitabili...,71265
4,돌봐야 하는 비용도 있지.,I also have expenses to take care of.,71265

,ko,en,source
0,"한일 관계 악화가 양국의 경제, 사회, 문화 등 다른 분야에 미치는 악영향을 최소화...",It is crucial to attenuate the adverse effects...,71266
1,"직접 설계할 수 있습니다. 네, 기존 시스템에 추가 시스템을 개발했습니다.","You can design your own, yes, we have develope...",71265
2,"정말 중요한 얘기는 그 다음에 이어지는데, AAA는 우리는 이것들을 거부하거나 경멸...",The really important story follows what the AA...,71266
3,추운 겨울이 지나버렸고 그리고 새로운 그 계절이 왔어.,Cold winter has passed and the new season came.,126
4,러시아가 금메달 17개로 종합순위 1위를 차지했고 개최국 이탈리아가 금메달 5개로 ...,Russia topped the overall list with 17 gold me...,111

,ko,en,source
0,「견우직녀」 그림책은 가장 흔하면서도 뿌리 깊은 우리의 정서와 관련된 별에 얽힌 이...,"The picture book ""Gyeonwoo and Jiknyeo"" depict...",125
1,여러 호텔 객실 가격을 찾아봤는데요.,I looked over the price of various hotel rooms.,71265
2,모바일 관광 애플리케이션에서 서비스 요구 사항의 분류 및 평가는 매우 중요하다.,Classification and evaluation of service requi...,124
3,Congressional Avenue에서 내려주실 수 있나요?,Can you drop us off at Congressional Avenue?,71265
4,>80 뽑았어?,">Did you pick 800,000?",71265

In [26]:
total_minus_train = total_shuffle.merge(tiny_train, indicator=True, how='outer').query('_merge=="left_only"').drop('_merge', axis=1)
total_minus_train_eval = total_minus_train.merge(tiny_eval, indicator=True, how='outer').query('_merge=="left_only"').drop('_merge', axis=1)
total_minus_train_eval_test = total_minus_train_eval.merge(tiny_test, indicator=True, how='outer').query('_merge=="left_only"').drop('_merge', axis=1)

In [27]:
print(len(total))
print(len(total_minus_train_eval_test))
print(len(tiny_train) + len(tiny_eval) + len(tiny_test))
print(len(total) - len(total_minus_train_eval_test))

10416509
10312343
104166
104166

In [28]:
print(len(tiny_train))
print(len(tiny_eval))

83332
10417

In [30]:
display(tiny_train['source'].value_counts())
display(tiny_eval['source'].value_counts())

source
71265    19712
126      12780
111      10919
124      10877
125      10818
71266    10733
71382     4601
563       2892
Name: count, dtype: int64

source
71265    2529
126      1590
124      1349
71266    1342
111      1332
125      1328
71382     585
563       362
Name: count, dtype: int64

In [31]:
half_1, half_2 = train_test_split(total_minus_train_eval_test, test_size=0.5, random_state=42)
print(len(half_1))
print(len(half_2))

5156171
5156172

In [32]:
tiny_train_2 = half_1.sample(n=83332)
tiny_eval_2 = half_2.sample(n=10417)

In [34]:
display(tiny_train_2['source'].value_counts())
display(tiny_eval_2['source'].value_counts())

source
71265    19860
126      12920
125      10833
111      10753
124      10696
71266    10632
71382     4744
563       2894
Name: count, dtype: int64

source
71265    2535
126      1536
125      1366
71266    1362
124      1340
111      1308
71382     603
563       367
Name: count, dtype: int64

In [39]:
tiny_train_2.to_csv('./train.csv', index=False)
tiny_eval_2.to_csv('./validation.csv', index=False)