In [143]:
import pandas as pd

### 546

In [150]:
train_ko_jp = pd.read_csv('./integrated_subsets/546/train_ko_jp.csv')
train_ko_cn = pd.read_csv('./integrated_subsets/546/train_ko_cn.csv')
train_jp_ko = pd.read_csv('./integrated_subsets/546/train_jp_ko.csv')
train_cn_ko = pd.read_csv('./integrated_subsets/546/train_cn_ko.csv')
eval_ko_jp = pd.read_csv('./integrated_subsets/546/eval_ko_jp.csv')
eval_ko_cn = pd.read_csv('./integrated_subsets/546/eval_ko_cn.csv')
eval_jp_ko = pd.read_csv('./integrated_subsets/546/eval_jp_ko.csv')
eval_cn_ko = pd.read_csv('./integrated_subsets/546/eval_cn_ko.csv')

In [149]:
display(train_ko_jp.head(1))
display(train_jp_ko.head(1))
display(train_ko_cn.head(1))
display(train_cn_ko.head(1))

                                        원문                           최종번역문
0  그는 생활에서 찾을 수 있는 일상적인 소재들을 이용하여 작품을 만든다.  彼は生活の中で簡単に手に入る日常的な素材を使って作品を作る。

,원문,최종번역문
0,クラスタ サービス アカウントのドメイン内のユーザー アカウントのログオン情報です。,클러스터 서비스 계정의 도메인 내 사용자 계정의 로그온 정보입니다.

                                  원문                최종번역문
0  A만 읽는 게 아니라 모두가 편지를 본다는 걸 잊지 마세요.  不仅A在看，所有人都会看信，不要忘记。

               원문                           최종번역문
0  我已经准备好为编程课补考了。  나는 프로그래밍 수업의 추가 시험 준비를 완료했습니다.

In [151]:
train_ko_jp.columns = ['ko', 'jp']
train_ko_cn.columns = ['ko', 'cn']
train_jp_ko.columns = ['jp', 'ko']
train_cn_ko.columns = ['cn', 'ko']
eval_ko_jp.columns = ['ko', 'jp']
eval_ko_cn.columns = ['ko', 'cn']
eval_jp_ko.columns = ['jp', 'ko']
eval_cn_ko.columns = ['cn', 'ko']

In [166]:
jp = pd.concat([train_ko_jp, eval_ko_jp, train_jp_ko, eval_jp_ko])
jp['id'] = [f"JP-00546-{i:07d}" for i in range(1, len(jp)+1)]
jp = jp[['id', 'ko', 'jp']]
cn = pd.concat([train_ko_cn, eval_ko_cn, train_cn_ko, eval_cn_ko])
cn['id'] = [f"CN-00546-{i:07d}" for i in range(1, len(cn)+1)]
cn = cn[['id', 'ko', 'cn']]

display(jp.head(5))
display(jp.shape)
display(cn.head(5))
display(cn.shape)

,id,ko,jp
0,JP-00546-0000001,그는 생활에서 찾을 수 있는 일상적인 소재들을 이용하여 작품을 만든다.,彼は生活の中で簡単に手に入る日常的な素材を使って作品を作る。
1,JP-00546-0000002,그는 생후 12개월이 지나면 그것을 섭취할 수 있습니다.,彼は生後12ヶ月が経つと、それを摂取することができます。
2,JP-00546-0000003,그는 S작품에는 사색적인 힘이나 호기심에 대한 흔적이 전혀 없다고 비평했습니다.,彼はS作品には思索的な力や好奇心に対する跡がまったくないと批評しました。
3,JP-00546-0000004,그는 서로 힘을 합해 일을 처리하는 마음가짐이 있어.,彼はお互いに力を合わせて仕事を処理する心構えがある。
4,JP-00546-0000005,그는 서울 NBC 사의 김 씨라고 합니다.,彼はソウルNBC社のキム氏だそうです。

(1350000, 3)

,id,ko,cn
0,CN-00546-0000001,A만 읽는 게 아니라 모두가 편지를 본다는 걸 잊지 마세요.,不仅A在看，所有人都会看信，不要忘记。
1,CN-00546-0000002,A 패드 한 장이면 수정 화장 끝입니다.,仅用一个A气垫就可以补妆了。
2,CN-00546-0000003,수기 해수욕장의 화장실은 이동식 간이 화장실이 아닙니다.,水汽海水浴场的卫生间不是移动式简易卫生间。
3,CN-00546-0000004,"순대는 떡볶이와 함께 한국 길거리 음식의 대표주자이며, 돼지의 창자로 만듭니다.",炒年糕一起，米肠也是韩国代表性街头食品，是用猪肠做的。
4,CN-00546-0000005,스몸비 는 스마트폰과 좀비의 합성어입니다.,Smomby是智能手机和僵尸的复合词。

(1350000, 3)

In [167]:
jp.to_csv('./integrated_subsets/546_jp.csv', index=False)
cn.to_csv('./integrated_subsets/546_cn.csv', index=False)

In [168]:
jp_sample = jp.sample(10, random_state=42)
cn_sample = cn.sample(10, random_state=42)
jp_sample.to_csv('./integrated_subsets/546_jp_sample.csv', index=False)
cn_sample.to_csv('./integrated_subsets/546_cn_sample.csv', index=False)

### 71493~71498

In [176]:
datasetkey = 71496

In [177]:
cn = pd.read_csv(f'./integrated_subsets/{datasetkey}/ch.csv')
jp = pd.read_csv(f'./integrated_subsets/{datasetkey}/jp.csv')

cn['id'] = [f"CN-{datasetkey:05d}-{i:07d}" for i in range(1, len(cn)+1)]
jp['id'] = [f"JP-{datasetkey:05d}-{i:07d}" for i in range(1, len(jp)+1)]
cn.columns = ['ko', 'cn', 'id']
jp.columns = ['ko', 'jp', 'id']
cn = cn[['id', 'ko', 'cn']]
jp = jp[['id', 'ko', 'jp']]

display(cn.head(1))
display(cn.shape)
display(jp.head(1))
display(jp.shape)

,id,ko,cn
0,CN-71498-0000001,더불어 이 역사적 사실의 중심 인물로서 모세의 실재성이 매우 높다고 한다.,据说在这个史实中，作为中心人物，摩西的真实性相当高。

(80891, 3)

,id,ko,jp
0,JP-71498-0000001,그러나 평생교육 프로그램을 진행하는 실천가의 입장에서 발달장애인의 평생교육의 방향을...,しかし、生涯教育プログラムを実施する実践家の立場として、発達障害者の生涯教育の方向性を探る研...

(81558, 3)

In [178]:
cn.to_csv(f'./integrated_subsets/{datasetkey}_cn.csv', index=False)
jp.to_csv(f'./integrated_subsets/{datasetkey}_jp.csv', index=False)

cn_sample = cn.sample(10, random_state=42)
jp_sample = jp.sample(10, random_state=42)
cn_sample.to_csv(f'./integrated_subsets/{datasetkey}_cn_sample.csv', index=False)
jp_sample.to_csv(f'./integrated_subsets/{datasetkey}_jp_sample.csv', index=False)

### 71524

In [179]:
datasetkey = 71524

In [180]:
df = pd.read_csv(f'./integrated_subsets/{datasetkey}/ko_en_jp.csv')
display(df.head(1))

             ko                                     en           jp
0  전문가와 1인 기업가.  Professionals and Solo Entrepreneurs.  専門家とひとり起業家。

In [184]:
jp = df[['ko', 'jp']]
en = df[['ko', 'en']]
jp['id'] = [f"JP-{datasetkey:05d}-{i:07d}" for i in range(1, len(jp)+1)]
en['id'] = [f"EN-{datasetkey:05d}-{i:07d}" for i in range(1, len(en)+1)]
jp.columns = ['ko', 'jp', 'id']
en.columns = ['ko', 'en', 'id']
jp = jp[['id', 'ko', 'jp']]
en = en[['id', 'ko', 'en']]

display(jp.head(1))
display(jp.shape)
display(en.head(1))
display(en.shape)

                 id            ko           jp
0  JP-71524-0000001  전문가와 1인 기업가.  専門家とひとり起業家。

(229619, 3)

                 id            ko                                     en
0  EN-71524-0000001  전문가와 1인 기업가.  Professionals and Solo Entrepreneurs.

(229619, 3)

In [185]:
jp.to_csv(f'./integrated_subsets/{datasetkey}_jp.csv', index=False)
en.to_csv(f'./integrated_subsets/{datasetkey}_en.csv', index=False)

In [186]:
jp_sample = jp.sample(10, random_state=42)
en_sample = en.sample(10, random_state=42)
jp_sample.to_csv(f'./integrated_subsets/{datasetkey}_jp_sample.csv', index=False)
en_sample.to_csv(f'./integrated_subsets/{datasetkey}_en_sample.csv', index=False)