In [3]:
import os
import json
from tqdm import tqdm

import pandas as pd

In [4]:
root_dir = '/home/ubuntu/sehyeong/tmax-enko-mt/translation_datasets/mmt/aihub_integration/integrated_subsets'
data_nums = [127, 128, 129, 546, 71262, 71263, 71411, 71493, 71496, 71498, 71524, 71591, 71593]
train_suffix, eval_suffix = 'train', 'validation'

In [5]:
df_ja = {'ko': [], 'ja': [], 'source': []}
df_zh = {'ko': [], 'zh': [], 'source': []}
# df_ja, df_zh = pd.DataFrame(df_ja), pd.DataFrame(df_zh)

In [6]:
def get_train_eval_df(data_num):
    root_dir = '/home/ubuntu/sehyeong/tmax-enko-mt/translation_datasets/mmt/aihub_integration/integrated_subsets'
    train_path = os.path.join(root_dir, f'train_{data_num}.csv')
    eval_path = os.path.join(root_dir, f'validation_{data_num}.csv')
    train_df = pd.read_csv(train_path)
    eval_df = pd.read_csv(eval_path)
    return train_df, eval_df

In [7]:
df_127_train, df_127_eval = get_train_eval_df(127)
display(df_127_train.head())

,관리번호,분야,한국어,일본어,한국어_어절수,일본어_글자수,길이_분류,출처,수행기관
0,KO-JA-2020-PATE-000501,특허/기술,본 고안의 목적은 고정력 스프링에 의해 파손이 발생하지 않는 보강된 인너도어 샤프트...,本考案の目的は、固定力スプリングによる破損が発生しない補強されたインナードアシャフトを提供す...,14,50,2,http://kpat.kipris.or.kr/kpat/biblioa.do?metho...,플리토
1,KO-JA-2020-PATE-000502,특허/기술,본 발명은 컴팩트한 구성에 의해 부품의 펀칭과 흡착이송이 가능하도록 구비되어 제조공...,本発明は、コンパクトな構成により部品のパンチングと吸着移送ができるように具備され、製造工程上...,22,87,4,http://kpat.kipris.or.kr/kpat/biblioa.do?metho...,플리토
2,KO-JA-2020-PATE-000503,특허/기술,"본 발명은 휴대단말기용 메탈케이스에 관한 것으로서, 특히 금속으로 이루어진 휴대단말...",本発明は、携帯端末機用メタルケースの製造方法に関するもので、特に金属からなる携帯端末機のケー...,25,95,5,http://kpat.kipris.or.kr/kpat/biblioa.do?metho...,플리토
3,KO-JA-2020-PATE-000504,특허/기술,그리고 상기 인덕턴스의 등가 저항값이 변화됨에 따라 인덕턴스의 통하여 흐르는 전류가...,そして、上記のインダクタンスの等価抵抗値が変化することによって、インダクタンスを通じて流れる...,20,91,4,http://kpat.kipris.or.kr/kpat/biblioa.do?metho...,플리토
4,KO-JA-2020-PATE-000505,특허/기술,본 고안은 인쇄회로기판의 착탈 고정 장치에 관한 것이다.,本考案は、印刷回路基板の着脱固定装置に関するものだ。,8,24,1,http://kpat.kipris.or.kr/kpat/biblioa.do?metho...,플리토

In [8]:
def add_new_data(df_old, df_new, tgt_lang, df_new_ko_col, df_new_tgt_col, source_num):
    len_old = len(df_old['ko'])
    df_old['ko'] += df_new[df_new_ko_col].tolist()
    df_old[tgt_lang] += df_new[df_new_tgt_col].tolist()
    df_old['source'] += [f'aihub-{source_num}'] * len(df_new)
    len_new = len(df_old['ko'])
    print(f'Added {len_new - len_old} new data from aihub-{source_num}: {len_old} -> {len_new}')
    return df_old

In [9]:
df_ja = add_new_data(df_ja, df_127_train, 'ja', '한국어', '일본어', 127)

Added 1200000 new data from aihub-127: 0 -> 1200000

In [10]:
df_ja = add_new_data(df_ja, df_127_eval, 'ja', '한국어', '일본어', 127)

Added 150000 new data from aihub-127: 1200000 -> 1350000

In [11]:
df_128_train, df_128_eval = get_train_eval_df(128)
display(df_128_train.head())

,관리번호,분야,한국어,중국어,한국어_어절수,중국어_글자수,길이_분류,출처,수행기관
0,KO-ZH-2020-PATE-000001,특허/기술,본 발명은 플러그를 통해 공급되는 주전원의 주파수 특성을 검출하여 주파수의 제로전위...,"本发明可以检测通过插头供应的主电源的频率特性,并为使从接近该频率零电位的上升电位连接到继电器...",23,69,4,http://kpat.kipris.or.kr/kpat/biblioa.do?metho...,온아시아
1,KO-ZH-2020-PATE-000002,특허/기술,"본 발명은 셀룰라폰에 관한 것으로, 셀룰라폰의 이동으로 소정시간이상 서어비스 지역을...","本发明是关于蜂窝电话的发明,当由于手机的移动而离开服务区域超过预定时间时自动关闭电源,并以预...",25,68,5,http://kpat.kipris.or.kr/kpat/biblioa.do?metho...,온아시아
2,KO-ZH-2020-PATE-000003,특허/기술,"또한, 셀 멀티 카피 기능을 활용하기 위한 자원 관리를 수행하지 않기 때문에 하나의...","另外,因为不执行利用单元多功能复制的资源管理,所以存在无法向多个用户提供同一个音调的缺点。",20,42,4,http://kpat.kipris.or.kr/kpat/biblioa.do?metho...,온아시아
3,KO-ZH-2020-PATE-000004,특허/기술,엔코더가 부착된 모터의 경우 회전량과 회전 속도를 측정할 수 있다.,"安装有编码器的电动机,可以测量回转量和回转速度。",10,22,2,http://kpat.kipris.or.kr/kpat/biblioa.do?metho...,온아시아
4,KO-ZH-2020-PATE-000005,특허/기술,"본 발명은 반도체 스퍼터링(Sputtering)장비에 있어서, 진공 펌프의 모터를 ...","本发明是关于一种用于保护真空泵的电动机,免受半导体溅射(Sputtering)设备中的过电流...",16,47,3,http://kpat.kipris.or.kr/kpat/biblioa.do?metho...,온아시아

In [12]:
df_zh = add_new_data(df_zh, df_128_train, 'zh', '한국어', '중국어', 128)
df_zh = add_new_data(df_zh, df_128_eval, 'zh', '한국어', '중국어', 128)

Added 1040000 new data from aihub-128: 0 -> 1040000
Added 130000 new data from aihub-128: 1040000 -> 1170000

In [13]:
df_129_train, df_129_eval = get_train_eval_df(129)
display(df_129_train.head())

/tmp/ipykernel_891697/3996682252.py:5: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  train_df = pd.read_csv(train_path)

,관리번호,분야,한국어,중국어,한국어_어절수,중국어_글자수,길이_분류,출처,수행기관
0,KO-ZH-2020-EDU-000501,교육,부디 귀한 걸음 해주셔서 아이들의 반짝이는 꿈을 응원해 주시면 감사하겠습니다.,"希望能迈开宝贵的脚步,为孩子们的闪耀梦想加油。",10,21,2,NaN,플리토
1,KO-ZH-2020-EDU-000502,교육,스카우트 연간운영계획에 따라 한국스카우트 서울북부연맹 강북지구연합회에서 주최하는 여...,"根据童子军年度运营计划,将参加由韩国童子军首尔北部联盟江北地区联合会主办的夏令营。",10,39,2,NaN,플리토
2,KO-ZH-2020-EDU-000503,교육,"메이커 교육에 기반을 둔 진로교육을 통해, 학생들의 행복한 미래를 준비할 수 있는 ...","通过以制造者教育为基础的前进教育,培养学生可以准备幸福未来的积极的前进价值观,举行了乌克丽丽...",26,64,5,NaN,플리토
3,KO-ZH-2020-EDU-000504,교육,주변의 여러 사물이나 현상에 늘 관심을 가지고 새로운 눈으로 바라봅니다.,"总是对周围的各种事物或现象感兴趣,用新的眼睛看待。",10,23,2,NaN,플리토
4,KO-ZH-2020-EDU-000505,교육,이때 목 뒤나 귀 뒤의 머리칼도 반드시 빗질해야 한다.,这时脖子后面或耳朵后面的头发也一定要梳。,9,19,1,NaN,플리토

In [14]:
df_zh = add_new_data(df_zh, df_129_train, 'zh', '한국어', '중국어', 129)
df_zh = add_new_data(df_zh, df_129_eval, 'zh', '한국어', '중국어', 129)

Added 1040000 new data from aihub-129: 1170000 -> 2210000
Added 130000 new data from aihub-129: 2210000 -> 2340000

In [15]:
df_546_train, df_546_eval = get_train_eval_df(546)
display(df_546_train.head())
print(len(df_546_train))

,대분류,중분류,소분류,ID,S_Code,T_Code,S_Length,T_Length,Ratio,특수표현,화자,원문,MT,1차수정,2차수정,최종번역문
0,일상생활,여행,"공항, 기내",1,ko-KR,ja-JP,22,18,122%,X,X,기내가 추운데 담요를 받을 수 있을까요?,心の中で毛布を貰えるか?,機内が寒いので、毛布をもらえますか？,NaN,機内が寒いので、毛布をもらえますか？
1,일상생활,여행,"공항, 기내",2,ko-KR,ja-JP,30,27,111%,X,X,죄송하지만 물이랑 같이 냅킨도 조금만 더 가져다주세요.,水죄と一緒にナプキンも少しだけ持ってきてください,すみませんが、お水と一緒にナプキンも少しお願いします。,NaN,すみませんが、お水と一緒にナプキンも少しお願いします。
2,일상생활,여행,"공항, 기내",3,ko-KR,ja-JP,17,16,106%,X,X,물 한 잔 가져다 드리겠습니다.,お水を差し잔上げます。,お水をいっぱいお持ちいたします。,NaN,お水をいっぱいお持ちいたします。
3,일상생활,여행,"공항, 기내",4,ko-KR,ja-JP,24,15,160%,X,X,그 전에 미리 물 먼저 주실 수 있으신가요?,その前にあなたの水を飲ませますか?,その前にお水をいただけますか？,NaN,その前にお水をいただけますか？
4,일상생활,여행,"공항, 기내",5,ko-KR,ja-JP,26,18,144%,X,X,10분 후에 기내식 제공해 드리도록 하겠습니다.,10分後に機内食をご用意ください,10分後に機内食をご提供いたします。,NaN,10分後に機内食をご提供いたします。

2400000

In [16]:
ja2ko_546_train = df_546_train[df_546_train['S_Code'] == 'ja-JP']
ja2ko_546_eval = df_546_eval[df_546_eval['S_Code'] == 'ja-JP']
ko2ja_546_train = df_546_train[df_546_train['T_Code'] == 'ja-JP']
ko2ja_546_eval = df_546_eval[df_546_eval['T_Code'] == 'ja-JP']

zh2ko_546_train = df_546_train[df_546_train['S_Code'] == 'zh-CN']
zh2ko_546_eval = df_546_eval[df_546_eval['S_Code'] == 'zh-CN']
ko2zh_546_train = df_546_train[df_546_train['T_Code'] == 'zh-CN']
ko2zh_546_eval = df_546_eval[df_546_eval['T_Code'] == 'zh-CN']

print(f"JA2KO: {len(ja2ko_546_train)} / {len(ja2ko_546_eval)}")
print(f"KO2JA: {len(ko2ja_546_train)} / {len(ko2ja_546_eval)}")
print(f"ZH2KO: {len(zh2ko_546_train)} / {len(zh2ko_546_eval)}")
print(f"KO2ZH: {len(ko2zh_546_train)} / {len(ko2zh_546_eval)}")

JA2KO: 600000 / 75000
KO2JA: 600000 / 75000
ZH2KO: 600000 / 75000
KO2ZH: 600000 / 75000

In [17]:
df_ja = add_new_data(df_ja, ja2ko_546_train, 'ja', '최종번역문', '원문', 546)
df_ja = add_new_data(df_ja, ja2ko_546_eval, 'ja', '최종번역문', '원문', 546)
df_ja = add_new_data(df_ja, ko2ja_546_train, 'ja', '원문', '최종번역문', 546)
df_ja = add_new_data(df_ja, ko2ja_546_eval, 'ja', '원문', '최종번역문', 546)

Added 600000 new data from aihub-546: 1350000 -> 1950000
Added 75000 new data from aihub-546: 1950000 -> 2025000
Added 600000 new data from aihub-546: 2025000 -> 2625000
Added 75000 new data from aihub-546: 2625000 -> 2700000

In [18]:
df_zh = add_new_data(df_zh, zh2ko_546_train, 'zh', '최종번역문', '원문', 546)
df_zh = add_new_data(df_zh, zh2ko_546_eval, 'zh', '최종번역문', '원문', 546)
df_zh = add_new_data(df_zh, ko2zh_546_train, 'zh', '원문', '최종번역문', 546)
df_zh = add_new_data(df_zh, ko2zh_546_eval, 'zh', '원문', '최종번역문', 546)

Added 600000 new data from aihub-546: 2340000 -> 2940000
Added 75000 new data from aihub-546: 2940000 -> 3015000
Added 600000 new data from aihub-546: 3015000 -> 3615000
Added 75000 new data from aihub-546: 3615000 -> 3690000

In [19]:
df_71262_train, df_71262_eval = get_train_eval_df(71262)
print(df_71262_train['source_language'].unique())
print(df_71262_train['target_language'].unique())

['cn']
['ko']

In [20]:
df_zh = add_new_data(df_zh, df_71262_train, 'zh', 'ko', 'cn', 71262)
df_zh = add_new_data(df_zh, df_71262_eval, 'zh', 'ko', 'cn', 71262)

Added 1200000 new data from aihub-71262: 3690000 -> 4890000
Added 150000 new data from aihub-71262: 4890000 -> 5040000

In [21]:
df_71263_train, df_71263_eval = get_train_eval_df(71263)
display(df_71263_train.columns)

/tmp/ipykernel_891697/3996682252.py:5: DtypeWarning: Columns (4,5,18,19,21,22,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  train_df = pd.read_csv(train_path)
/tmp/ipykernel_891697/3996682252.py:6: DtypeWarning: Columns (4,18,19,21,23,24,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  eval_df = pd.read_csv(eval_path)

Index(['sn', 'data_set', 'domain', 'subdomain', 'cn_original', 'cn', 'mt',
       'ko', 'source_language', 'target_language', 'word_count_cn',
       'word_count_ko', 'word_ratio', 'file_name', 'source', 'license',
       'style', 'included_unknown_words', 'jp_original', 'jp', 'word_count_jp',
       'ko_original', 'ner--text', 'ner--tags--tag', 'ner--tags--value',
       'ner--tags--position', 'ner'],
      dtype='object')

In [22]:
ja2ko_71263_train = df_71263_train[df_71263_train['source_language'] == 'jp']
ja2ko_71263_eval = df_71263_eval[df_71263_eval['source_language'] == 'jp']
ko2ja_71263_train = df_71263_train[df_71263_train['target_language'] == 'jp']
ko2ja_71263_eval = df_71263_eval[df_71263_eval['target_language'] == 'jp']

zh2ko_71263_train = df_71263_train[df_71263_train['source_language'] == 'cn']
zh2ko_71263_eval = df_71263_eval[df_71263_eval['source_language'] == 'cn']
ko2zh_71263_train = df_71263_train[df_71263_train['target_language'] == 'cn']
ko2zh_71263_eval = df_71263_eval[df_71263_eval['target_language'] == 'cn']

print(f"JA2KO: {len(ja2ko_71263_train)} / {len(ja2ko_71263_eval)}")
print(f"KO2JA: {len(ko2ja_71263_train)} / {len(ko2ja_71263_eval)}")
print(f"ZH2KO: {len(zh2ko_71263_train)} / {len(zh2ko_71263_eval)}")
print(f"KO2ZH: {len(ko2zh_71263_train)} / {len(ko2zh_71263_eval)}")

JA2KO: 360000 / 45000
KO2JA: 600000 / 75000
ZH2KO: 361856 / 45232
KO2ZH: 0 / 0

In [23]:
df_ja = add_new_data(df_ja, ja2ko_71263_train, 'ja', 'ko', 'jp', 71263)
df_ja = add_new_data(df_ja, ja2ko_71263_eval, 'ja', 'ko', 'jp', 71263)
df_ja = add_new_data(df_ja, ko2ja_71263_train, 'ja', 'ko', 'jp', 71263)
df_ja = add_new_data(df_ja, ko2ja_71263_eval, 'ja', 'ko', 'jp', 71263)

Added 360000 new data from aihub-71263: 2700000 -> 3060000
Added 45000 new data from aihub-71263: 3060000 -> 3105000
Added 600000 new data from aihub-71263: 3105000 -> 3705000
Added 75000 new data from aihub-71263: 3705000 -> 3780000

In [24]:
df_zh = add_new_data(df_zh, zh2ko_71263_train, 'zh', 'ko', 'cn', 71263)
df_zh = add_new_data(df_zh, zh2ko_71263_eval, 'zh', 'ko', 'cn', 71263)

Added 361856 new data from aihub-71263: 5040000 -> 5401856
Added 45232 new data from aihub-71263: 5401856 -> 5447088

In [25]:
df_71411_train, df_71411_eval = get_train_eval_df(71411)
display(df_71411_train.head())

,id,fileName,dataSet,domain,style,isDialect,sourceText,targetText,sourceLanguage,targetLanguage
0,100015-216-1-2,zh-ko_WR_CA_zh_ko_100015-216-1-2,기계번역 병렬 말뭉치 데이터,CA,WR,n,并由约翰·奥古斯特担任编剧，,그리고 존 오거스트가 시나리오를 썼다.,zh,ko
1,100014-280-1-7,jp-ko_SP_ES_jp_ko_100014-280-1-7,기계번역 병렬 말뭉치 데이터,ES,SP,n,エアコンが強かったり着せてるものが薄すぎるっていうことかもね。,에어컨 바람이 강하거나 입힌 옷이 너무 얇다는 것일지도 모릅니다.,jp,ko
2,100010-1997-1-4,ko-en_CH_ST_ko_en_100010-1997-1-4,기계번역 병렬 말뭉치 데이터,ST,CH,n,맞아 브러시질을 잘 안 해주면 털이 정리가 안돼서 그런가 안 이쁘더라.,That's right. If you don't brush your dog well...,ko,en
3,100010-1225-1-5,ko-en_SP_CA_ko_en_100010-1225-1-5,기계번역 병렬 말뭉치 데이터,CA,SP,n,정글아 미드 갱 가지 말고 바텀에다가 전령 풀어.,"Jungle, don't go to the mid Gang. Send a heral...",ko,en
4,100012-614-1-5,ko-zh_CH_CA_ko_zh_100012-614-1-5,기계번역 병렬 말뭉치 데이터,CA,CH,n,빌보드 핫 백 순위 몇 위인데 난 셀링만 알아.,他们在公告牌百强单曲榜上排第几？我只知道销售量。,ko,zh

In [26]:
ja2ko_71411_train = df_71411_train[df_71411_train['sourceLanguage'] == 'jp']
ja2ko_71411_eval = df_71411_eval[df_71411_eval['sourceLanguage'] == 'jp']
ko2ja_71411_train = df_71411_train[df_71411_train['targetLanguage'] == 'jp']
ko2ja_71411_eval = df_71411_eval[df_71411_eval['targetLanguage'] == 'jp']

zh2ko_71411_train = df_71411_train[df_71411_train['sourceLanguage'] == 'zh']
zh2ko_71411_eval = df_71411_eval[df_71411_eval['sourceLanguage'] == 'zh']
ko2zh_71411_train = df_71411_train[df_71411_train['targetLanguage'] == 'zh']
ko2zh_71411_eval = df_71411_eval[df_71411_eval['targetLanguage'] == 'zh']

print(f"JA2KO: {len(ja2ko_71411_train)} / {len(ja2ko_71411_eval)}")
print(f"KO2JA: {len(ko2ja_71411_train)} / {len(ko2ja_71411_eval)}")
print(f"ZH2KO: {len(zh2ko_71411_train)} / {len(zh2ko_71411_eval)}")
print(f"KO2ZH: {len(ko2zh_71411_train)} / {len(ko2zh_71411_eval)}")

JA2KO: 12000 / 1500
KO2JA: 12000 / 1500
ZH2KO: 12000 / 1500
KO2ZH: 12000 / 1500

In [27]:
df_ja = add_new_data(df_ja, ja2ko_71411_train, 'ja', 'targetText', 'sourceText', 71411)
df_ja = add_new_data(df_ja, ja2ko_71411_eval, 'ja', 'targetText', 'sourceText', 71411)
df_ja = add_new_data(df_ja, ko2ja_71411_train, 'ja', 'sourceText', 'targetText', 71411)
df_ja = add_new_data(df_ja, ko2ja_71411_eval, 'ja', 'sourceText', 'targetText', 71411)

Added 12000 new data from aihub-71411: 3780000 -> 3792000
Added 1500 new data from aihub-71411: 3792000 -> 3793500
Added 12000 new data from aihub-71411: 3793500 -> 3805500
Added 1500 new data from aihub-71411: 3805500 -> 3807000

In [28]:
df_zh = add_new_data(df_zh, zh2ko_71411_train, 'zh', 'targetText', 'sourceText', 71411)
df_zh = add_new_data(df_zh, zh2ko_71411_eval, 'zh', 'targetText', 'sourceText', 71411)
df_zh = add_new_data(df_zh, ko2zh_71411_train, 'zh', 'sourceText', 'targetText', 71411)
df_zh = add_new_data(df_zh, ko2zh_71411_eval, 'zh', 'sourceText', 'targetText', 71411)

Added 12000 new data from aihub-71411: 5447088 -> 5459088
Added 1500 new data from aihub-71411: 5459088 -> 5460588
Added 12000 new data from aihub-71411: 5460588 -> 5472588
Added 1500 new data from aihub-71411: 5472588 -> 5474088

In [29]:
df_71493_train, df_71493_eval = get_train_eval_df(71493)
display(df_71493_train.head())
print(len(df_71493_train))

/tmp/ipykernel_891697/3996682252.py:5: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  train_df = pd.read_csv(train_path)

,Index,Title,Publication_type,Author,ISBN,ISSN,Published_year,Date_created,Classify_1,Classify_2,...,src_sentence,tgt_sentence,src_lang,tgt_lang,src_paragraphs_id,src_word_count,spc_technical_label,spc_idiomatic_label,spc_proper_label,spc_double_label
0,110701001,리더의 품격 : 최고의 지도자를 만드는 실행력,도서,신동준 지음,9.788966e+12,NaN,2019,2023-08-30,기술과학,정보/통신,...,G2 중국의 궁극적인 목표는 현재의 G1 미국을 제압하고 명실상부한 G1 중국을 건...,G2中国的最终目标是推翻现在的G1美国，建立一个真正的G1中国。,ko,ch,SI-2208211358P57035898R0200025,13,건설,명실상부,"중국,미국,중국",NaN
1,110701001,리더의 품격 : 최고의 지도자를 만드는 실행력,도서,신동준 지음,9.788966e+12,NaN,2019,2023-08-30,기술과학,정보/통신,...,지역 간 극심한 빈부 격차로 인한 갈등을 해소해야 했다.,需要解决地区间极端贫富差距引发的冲突。,ko,ch,SI-2208211358P57035898R0200038,9,"지역,격차",NaN,NaN,NaN
2,110701001,리더의 품격 : 최고의 지도자를 만드는 실행력,도서,신동준 지음,9.788966e+12,NaN,2019,2023-08-30,기술과학,정보/통신,...,경제발전의 수혜를 받지 못하고 내륙오지에서 낙후된 삶을 살아가야 하는 소수민족의 불...,这是因为内陆地区没有享受到经济发展的红利，不得不过着贫困生活的少数民族的不满情绪已经浮出水面。,ko,ch,SI-2208211358P57035898R0200039,15,"발전,내륙",NaN,NaN,NaN
3,110701001,리더의 품격 : 최고의 지도자를 만드는 실행력,도서,신동준 지음,9.788966e+12,NaN,2019,2023-08-30,기술과학,정보/통신,...,한족을 포함한 중국 내 56개 민족은 원래 하나였다는 주장이 핵심이다.,主要论点是中国包括汉族在内的56个民族本来就是一个民族。,ko,ch,SI-2208211358P57035898R0200040,10,핵심,NaN,중국,NaN
4,110701001,리더의 품격 : 최고의 지도자를 만드는 실행력,도서,신동준 지음,9.788966e+12,NaN,2019,2023-08-30,기술과학,정보/통신,...,그런데도 중국 학계는 수당의 황실마저 한인과 호인의 혼혈로 시작했고 게다가 점차 호...,中国学界认为，即使是苏丹皇室，一开始也是高丽人与胡人混血，胡人的血统逐渐被稀释。,ko,ch,SI-2208211358P57035898R0200042,17,희석,NaN,"중국,수당",NaN

240426

In [30]:
df_71493_train.columns

Index(['Index', 'Title', 'Publication_type', 'Author', 'ISBN', 'ISSN',
       'Published_year', 'Date_created', 'Classify_1', 'Classify_2',
       'Classify_3', 'src_sentence', 'tgt_sentence', 'src_lang', 'tgt_lang',
       'src_paragraphs_id', 'src_word_count', 'spc_technical_label',
       'spc_idiomatic_label', 'spc_proper_label', 'spc_double_label'],
      dtype='object')

In [31]:
display(df_71493_train['src_lang'].unique())
display(df_71493_train['tgt_lang'].unique())

array(['ko'], dtype=object)

array(['ch', 'jp'], dtype=object)

In [32]:
ja_71493_train = df_71493_train[df_71493_train['tgt_lang'] == 'jp']
ja_71493_eval = df_71493_eval[df_71493_eval['tgt_lang'] == 'jp']
zh_71493_train = df_71493_train[df_71493_train['tgt_lang'] == 'ch']
zh_71493_eval = df_71493_eval[df_71493_eval['tgt_lang'] == 'ch']

print(f"JA: {len(ja_71493_train)} / {len(ja_71493_eval)}")
print(f"ZH: {len(zh_71493_train)} / {len(zh_71493_eval)}")

JA: 123455 / 687
ZH: 116971 / 29346

In [33]:
df_ja = add_new_data(df_ja, ja_71493_train, 'ja', 'src_sentence', 'tgt_sentence', 71493)
df_ja = add_new_data(df_ja, ja_71493_eval, 'ja', 'src_sentence', 'tgt_sentence', 71493)

Added 123455 new data from aihub-71493: 3807000 -> 3930455
Added 687 new data from aihub-71493: 3930455 -> 3931142

In [34]:
df_zh = add_new_data(df_zh, zh_71493_train, 'zh', 'src_sentence', 'tgt_sentence', 71493)
df_zh = add_new_data(df_zh, zh_71493_eval, 'zh', 'src_sentence', 'tgt_sentence', 71493)

Added 116971 new data from aihub-71493: 5474088 -> 5591059
Added 29346 new data from aihub-71493: 5591059 -> 5620405

In [35]:
df_71496_train, df_71496_eval = get_train_eval_df(71496)
display(df_71496_train.head())
print(len(df_71496_train))
print(len(df_71496_eval))

/tmp/ipykernel_891697/3996682252.py:5: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  train_df = pd.read_csv(train_path)

,Index,Title,Publication_type,Author,ISBN,ISSN,Published_year,Date_created,Classify_1,Classify_2,...,src_sentence,tgt_sentence,src_lang,tgt_lang,src_paragraphs_id,src_word_count,spc_technical_label,spc_idiomatic_label,spc_proper_label,spc_double_label
0,112985524,21세기 생태평화를 위한 환경교과서,도서,환경과생명을지키는전국교사모임 지음,9788992525008.0,NaN,2019,2023-08-30,기초과학,지구과학,...,"환경문제는 윤리, 과학, 정치경제와 밀접하게 관련되어 있다.","Ethics, science, and political economy are clo...",ko,en,SI-2208211501P56377315R0100095,7,"환경문제,과학",NaN,NaN,NaN
1,112985524,21세기 생태평화를 위한 환경교과서,도서,환경과생명을지키는전국교사모임 지음,9788992525008.0,NaN,2019,2023-08-30,기초과학,지구과학,...,과학 기술은 가치중립적이지 않으며 사회에 의해 만들어진다.,Science and technology are not value-neutral a...,ko,en,SI-2208211501P56377315R0100103,7,과학 기술,NaN,NaN,NaN
2,112985524,21세기 생태평화를 위한 환경교과서,도서,환경과생명을지키는전국교사모임 지음,9788992525008.0,NaN,2019,2023-08-30,기초과학,지구과학,...,골프장의 생태적·환경적 문제점을 다양하게 표현할 수 있다.,Ecological and environmental problems about go...,ko,en,SI-2208211501P56377315R0100316,7,생태,NaN,NaN,NaN
3,112985524,21세기 생태평화를 위한 환경교과서,도서,환경과생명을지키는전국교사모임 지음,9788992525008.0,NaN,2019,2023-08-30,기초과학,지구과학,...,골프장 건설이 숲을 사라지게 하고 있는 것이다.,Golf course construction is causing forests to...,ko,en,SI-2208211501P56377315R0100433,7,건설,NaN,NaN,NaN
4,112985524,21세기 생태평화를 위한 환경교과서,도서,환경과생명을지키는전국교사모임 지음,9788992525008.0,NaN,2019,2023-08-30,기초과학,지구과학,...,"그리고 환경문제라고 하면 환경오염, 쓰레기 등을 생각합니다.","We think of environmental issues, we think of ...",ko,en,SI-2208211501P56377315R0100636,7,"환경문제,환경오염,쓰레기",NaN,NaN,NaN

240245
30072

In [36]:
df_71496_train.columns

Index(['Index', 'Title', 'Publication_type', 'Author', 'ISBN', 'ISSN',
       'Published_year', 'Date_created', 'Classify_1', 'Classify_2',
       'Classify_3', 'src_sentence', 'tgt_sentence', 'src_lang', 'tgt_lang',
       'src_paragraphs_id', 'src_word_count', 'spc_technical_label',
       'spc_idiomatic_label', 'spc_proper_label', 'spc_double_label'],
      dtype='object')

In [37]:
display(df_71496_train['src_lang'].unique())
display(df_71496_train['tgt_lang'].unique())
display(df_71496_eval['src_lang'].unique())
display(df_71496_eval['tgt_lang'].unique())

array(['ko'], dtype=object)

array(['en', 'ch', 'jp'], dtype=object)

array(['ko'], dtype=object)

array(['jp', 'ch', 'en'], dtype=object)

In [38]:
ja_71496_train = df_71496_train[df_71496_train['tgt_lang'] == 'jp']
ja_71496_eval = df_71496_eval[df_71496_eval['tgt_lang'] == 'jp']
zh_71496_train = df_71496_train[df_71496_train['tgt_lang'] == 'ch']
zh_71496_eval = df_71496_eval[df_71496_eval['tgt_lang'] == 'ch']

print(f"JA: {len(ja_71496_train)} / {len(ja_71496_eval)}")
print(f"ZH: {len(zh_71496_train)} / {len(zh_71496_eval)}")

JA: 68945 / 12537
ZH: 76476 / 7943

In [39]:
df_ja = add_new_data(df_ja, ja_71496_train, 'ja', 'src_sentence', 'tgt_sentence', 71496)
df_ja = add_new_data(df_ja, ja_71496_eval, 'ja', 'src_sentence', 'tgt_sentence', 71496)

Added 68945 new data from aihub-71496: 3931142 -> 4000087
Added 12537 new data from aihub-71496: 4000087 -> 4012624

In [40]:
df_zh = add_new_data(df_zh, zh_71496_train, 'zh', 'src_sentence', 'tgt_sentence', 71496)
df_zh = add_new_data(df_zh, zh_71496_eval, 'zh', 'src_sentence', 'tgt_sentence', 71496)

Added 76476 new data from aihub-71496: 5620405 -> 5696881
Added 7943 new data from aihub-71496: 5696881 -> 5704824

In [41]:
df_71498_train, df_71498_eval = get_train_eval_df(71498)
display(df_71498_train.head(1))
print(len(df_71498_train))
print(len(df_71498_eval))

/tmp/ipykernel_891697/3996682252.py:5: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  train_df = pd.read_csv(train_path)

,Index,Title,Publication_type,Author,ISBN,ISSN,Published_year,Date_created,Classify_1,Classify_2,...,src_sentence,tgt_sentence,src_lang,tgt_lang,src_paragraphs_id,src_word_count,spc_technical_label,spc_idiomatic_label,spc_proper_label,spc_double_label
0,1000010765,"국내 대화분석 연구 개관 : 동향, 평가 및 전망",논문,김규현;서경희,NaN,1226-4822,2020,2023-08-30,인문학,철학/종교,...,"누군가는 ‘시원하다.’고 할 것이며, 또 다른 사람은 ‘죽인다.’ 혹은 ‘끝내준다....","Some will say 'cool,' whereas others will say ...",ko,en,SI-2210131703P00208497R0100691,12,사람,NaN,NaN,NaN

241069
30652

In [42]:
df_71498_train.columns

Index(['Index', 'Title', 'Publication_type', 'Author', 'ISBN', 'ISSN',
       'Published_year', 'Date_created', 'Classify_1', 'Classify_2',
       'Classify_3', 'src_sentence', 'tgt_sentence', 'src_lang', 'tgt_lang',
       'src_paragraphs_id', 'src_word_count', 'spc_technical_label',
       'spc_idiomatic_label', 'spc_proper_label', 'spc_double_label'],
      dtype='object')

In [43]:
display(df_71498_train['src_lang'].unique())
display(df_71498_train['tgt_lang'].unique())
display(df_71498_eval['src_lang'].unique())
display(df_71498_eval['tgt_lang'].unique())

array(['ko'], dtype=object)

array(['en', 'jp', 'ch'], dtype=object)

array(['ko'], dtype=object)

array(['jp', 'en', 'ch'], dtype=object)

In [44]:
ja_71498_train = df_71498_train[df_71498_train['tgt_lang'] == 'jp']
ja_71498_eval = df_71498_eval[df_71498_eval['tgt_lang'] == 'jp']
zh_71498_train = df_71498_train[df_71498_train['tgt_lang'] == 'ch']
zh_71498_eval = df_71498_eval[df_71498_eval['tgt_lang'] == 'ch']

print(f"JA: {len(ja_71498_train)} / {len(ja_71498_eval)}")
print(f"ZH: {len(zh_71498_train)} / {len(zh_71498_eval)}")

JA: 74895 / 6663
ZH: 67217 / 13674

In [45]:
df_ja = add_new_data(df_ja, ja_71498_train, 'ja', 'src_sentence', 'tgt_sentence', 71498)
df_ja = add_new_data(df_ja, ja_71498_eval, 'ja', 'src_sentence', 'tgt_sentence', 71498)

Added 74895 new data from aihub-71498: 4012624 -> 4087519
Added 6663 new data from aihub-71498: 4087519 -> 4094182

In [46]:
df_zh = add_new_data(df_zh, zh_71498_train, 'zh', 'src_sentence', 'tgt_sentence', 71498)
df_zh = add_new_data(df_zh, zh_71498_eval, 'zh', 'src_sentence', 'tgt_sentence', 71498)

Added 67217 new data from aihub-71498: 5704824 -> 5772041
Added 13674 new data from aihub-71498: 5772041 -> 5785715

In [47]:
df_71524_train, df_71524_eval = get_train_eval_df(71524)
df_71524_train = df_71524_train.sort_values('dialogs--textNumber').reset_index(drop=True)
df_71524_eval = df_71524_eval.sort_values('dialogs--textNumber').reset_index(drop=True)
display(df_71524_train.head(10))
print(len(df_71524_train))
print(len(df_71524_eval))

,date,typeInfo--script--domain,typeInfo--script--topic,typeInfo--script--scriptNumber,typeInfo--script--scriptFileName,typeInfo--language,typeInfo--place,typeInfo--speaker--speakerId,typeInfo--speaker--gender,typeInfo--speaker--age,dialogs--textNumber,dialogs--speakerId,dialogs--text,dialogs--startTime,dialogs--endTime
0,2022-11-25,1,빨강머리 앤,100021_3077_1,빨강머리 앤 4 바람의 포퓰러 집 이야기 (1_5)_ko_00003,es,studio,100137,F,27,1,100137,Siempre han gobernado el gallinero aquí..,0.0,4.210667
1,2022-11-25,1,빨강머리 앤,100020_2898_1,빨강머리 앤 3 레드먼드 이야기 (12장_20장)_ko_00031,jp,studio,100351,F,39,1,100351,なぜ神様が彼らを創造されたのか分からない。,0.0,4.040000
2,2022-11-10,1,빨강머리 앤,100020_2811_1,빨강머리 앤 2 에이번리 이야기(1_5)_ko_00002,jp,studio,100166,F,51,1,100166,"""背も小さく、太っていて、しかもハゲだったからだ。""",0.0,4.488000
3,2022-12-02,1,빨강머리 앤,100019_2802_1,빨강머리 앤 2 에이번리 이야기(3_5)_ko_00025,en,studio,100564,F,21,1,100564,Anne said vehemently.,0.0,2.674667
4,2023-01-10,5,통계법,100019_1416_1,통계법의 이해,en,studio,100233,F,27,1,100233,Statistics Korea defines it with six dimension...,0.0,17.416000
5,2022-12-02,1,빨강머리 앤,100021_2666_1,빨강머리 앤 1 초록지붕 집 이야기 (1장_5장)_ko_00021,es,studio,100597,F,30,1,100597,"Sí, lo llamaré Bonny.",0.0,3.144000
6,2022-11-30,1,빨강머리 앤,100018_2704_1,빨강머리 앤 2 에이번리 이야기(2_5)_ko_00003,ko,studio,100659,F,27,1,100659,"""앤이 좋은 일을 가르칠 기회를 포착하고 얼른 말했다.""",0.0,3.762667
7,2022-10-06,1,나비를 잡는 아버지,100021_1492_1,나비를 잡는 아버지_ko_00001,es,studio,100125,F,28,1,100125,Bau escuchó la canción por un momento.,0.0,2.482667
8,2022-11-22,1,빨강머리 앤,100021_2763_1,빨강머리 앤 2 에이번리 이야기(2_5)_ko_00014,es,studio,100353,F,23,1,100353,Davey gritó en voz alta mientras lloraba.,0.0,3.845533
9,2022-11-10,1,빨강머리 앤,100019_3056_1,빨강머리 앤 4 바람의 포퓰러 집 이야기 (1_5)_ko_00013,en,studio,100564,F,21,1,100564,"""She smuggles them in from the town library...""",0.0,3.869333

1305730
163218

In [48]:
print(len(df_71524_train['typeInfo--script--scriptFileName'].unique()))
print(len(df_71524_eval['typeInfo--script--scriptFileName'].unique()))

3395
3387

In [49]:
from tqdm import tqdm


def pair_kojp(df):
    """
    (1) typeInfo--script--scriptFileName의 unique list를 만들기
    (2) 같은 scriptFileName을 가진 데이터 중, 같은 dialogs--textNumber를 가진 데이터, 그 중에서도 typeInfo--language가 ko, jp인 데이터를 찾아서 pair하기
    (3) 각각을 ko_list와 jp_list로 반환
    """
    script_list = df['typeInfo--script--scriptFileName'].unique()
    ko_list, jp_list = [], []
    for script in tqdm(script_list):
        script_df = df[df['typeInfo--script--scriptFileName'] == script]
        ko_df = script_df[script_df['typeInfo--language'] == 'ko']
        jp_df = script_df[script_df['typeInfo--language'] == 'jp']
        for (_, ko), (_, jp) in zip(ko_df.iterrows(), jp_df.iterrows()):
            if ko['dialogs--textNumber'] == jp['dialogs--textNumber']:
                ko_list.append(ko['dialogs--text'])
                jp_list.append(jp['dialogs--text'])
    return ko_list, jp_list

In [50]:
ko_list_71524_train, jp_list_71524_train = pair_kojp(df_71524_train)

100%|██████████| 3395/3395 [04:48<00:00, 11.76it/s]

In [51]:
display(ko_list_71524_train[:3])
display(jp_list_71524_train[:3])

['"그 사람들이 예전부터 이 일대에서 방귀깨나 뀌는 사람들이거든요..."',
 '"그리고 채티 아주머니한테 상처 주면 안 돼요, 알았죠?"',
 '"그치는 마음이 너무 여려서 별거 아닌 일에도 툭하면 상처를 받거든요."']

['その人たちが昔からこの一帯で影響力のある 人たちなんですよ。',
 'そして、チャティおばあちゃんを傷つけてはいけません、わかりましたか？',
 'そいつは、こころがあまりにも弱すぎて、ささいなことでもよく傷つくんです。']

In [52]:
len_old_ko = len(df_ja['ko'])
df_ja['ko'].extend(ko_list_71524_train)
df_ja['ja'].extend(jp_list_71524_train)
df_ja['source'].extend(['aihub-71524'] * len(ko_list_71524_train))
len_new_ko = len(df_ja['ko'])
print(f'Added {len_new_ko - len_old_ko} new data from aihub-71524: {len_old_ko} -> {len_new_ko}')

Added 120319 new data from aihub-71524: 4094182 -> 4214501

In [53]:
df_71591_train, df_71591_eval = get_train_eval_df(71591)
display(df_71591_train.head(1))
print(len(df_71591_train))
print(len(df_71591_eval))

,01_dataset--1_identifier,01_dataset--2_name,01_dataset--3_src_path,01_dataset--4_label_path,01_dataset--5_category,01_dataset--6_type,01_dataset--7_copyright,02_srcinfo--1_id,02_srcinfo--2_title,02_srcinfo--3_language,04_contentinfo--4_storyline,05_speakerinfo--1_id,05_speakerinfo--2_gender,07_text--1_text,08_translation--1_text,08_translation--2_language,06_ttsinfo--1_src_path,06_ttsinfo--2_duration,06_ttsinfo--3_speaker_id
0,2022-1-11-036,방송콘텐츠 한국어-아시아어 번역 말뭉치,11-2/source/L01/C05/C03093/U0535480.txt,11-2/labels/L01_L02/C05/C03093/U0535480.json,C05,텍스트,Y,C03093,트레킹노트 세상을 걷다(222회),한국어,[푸른 바람이 분다] 영남 알프스 / 소백산국립공원 / 대구 비슬산,S30930000,남,어리석은 욕심에 한 조각 떼어간들 그게 가진 게 될까요?,因为愚蠢的欲望，把野地撕掉一块，这能成为拥有的吗？,중국어,NaN,NaN,NaN

652962
167425

In [54]:
display(df_71591_train['02_srcinfo--3_language'].unique())
display(df_71591_train['08_translation--2_language'].unique())

array(['한국어', '일본어', '중국어'], dtype=object)

array(['중국어', '일본어', '몽골어', '힌디어', '한국어', '대만어'], dtype=object)

In [55]:
ja2ko_71591_train = df_71591_train[(df_71591_train['02_srcinfo--3_language'] == '일본어') & (df_71591_train['08_translation--2_language'] == '한국어')]
ja2ko_71591_eval = df_71591_eval[(df_71591_eval['02_srcinfo--3_language'] == '일본어') & (df_71591_eval['08_translation--2_language'] == '한국어')]
ko2ja_71591_train = df_71591_train[(df_71591_train['02_srcinfo--3_language'] == '한국어') & (df_71591_train['08_translation--2_language'] == '일본어')]
ko2ja_71591_eval = df_71591_eval[(df_71591_eval['02_srcinfo--3_language'] == '한국어') & (df_71591_eval['08_translation--2_language'] == '일본어')]

zh2ko_71591_train = df_71591_train[(df_71591_train['02_srcinfo--3_language'] == '중국어') & (df_71591_train['08_translation--2_language'] == '한국어')]
zh2ko_71591_eval = df_71591_eval[(df_71591_eval['02_srcinfo--3_language'] == '중국어') & (df_71591_eval['08_translation--2_language'] == '한국어')]
ko2zh_71591_train = df_71591_train[(df_71591_train['02_srcinfo--3_language'] == '한국어') & (df_71591_train['08_translation--2_language'] == '중국어')]
ko2zh_71591_eval = df_71591_eval[(df_71591_eval['02_srcinfo--3_language'] == '한국어') & (df_71591_eval['08_translation--2_language'] == '중국어')]

print(f"JA2KO: {len(ja2ko_71591_train)} / {len(ja2ko_71591_eval)}")
print(f"KO2JA: {len(ko2ja_71591_train)} / {len(ko2ja_71591_eval)}")
print(f"ZH2KO: {len(zh2ko_71591_train)} / {len(zh2ko_71591_eval)}")
print(f"KO2ZH: {len(ko2zh_71591_train)} / {len(ko2zh_71591_eval)}")

JA2KO: 1036 / 0
KO2JA: 112436 / 0
ZH2KO: 548 / 0
KO2ZH: 380330 / 0

In [56]:
df_ja = add_new_data(df_ja, ja2ko_71591_train, 'ja', '08_translation--1_text', '07_text--1_text', 71591)
df_ja = add_new_data(df_ja, ja2ko_71591_eval, 'ja', '08_translation--1_text', '07_text--1_text', 71591)
df_ja = add_new_data(df_ja, ko2ja_71591_train, 'ja', '07_text--1_text', '08_translation--1_text', 71591)
df_ja = add_new_data(df_ja, ko2ja_71591_eval, 'ja', '07_text--1_text', '08_translation--1_text', 71591)

Added 1036 new data from aihub-71591: 4214501 -> 4215537
Added 0 new data from aihub-71591: 4215537 -> 4215537
Added 112436 new data from aihub-71591: 4215537 -> 4327973
Added 0 new data from aihub-71591: 4327973 -> 4327973

In [57]:
df_71593_train, df_71593_eval = get_train_eval_df(71593)
display(df_71593_train.head(1))
print(len(df_71593_train))
print(len(df_71593_eval))

/tmp/ipykernel_891697/3996682252.py:5: DtypeWarning: Columns (0,3,4,5,6,7,8,9,10,11,14,15,16,18,19,20,21,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  train_df = pd.read_csv(train_path)
/tmp/ipykernel_891697/3996682252.py:6: DtypeWarning: Columns (12,13,14,15,16,17,18,20,21,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  eval_df = pd.read_csv(eval_path)

,sn,domain,year,from,source_sentence,mt_sentence,target_sentence,mt_service,source_language_code,target_language_code,...,sentence1,sentence2,similarity,text,language,tags--tag,tags--value,tags--position,source_word,target_word
0,1009022110030,농학,2022.0,KCI_FI002842110,다짐도별 일축압축강도는 ML 시료 > SC 시료 > SM 시료의 순으로 나타났다.,各压实度的单轴抗压强度依次为ML试样>SC试样>SM试样。,各压实度的单轴抗压强度依次为ML试样>SC试样>SM试样。,google,ko,zh,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2362811
291137

In [58]:
display(df_71593_train['source_language_code'].unique())
display(df_71593_train['target_language_code'].unique())

array(['ko', nan], dtype=object)

array(['zh', 'ja', 'en', nan], dtype=object)

In [59]:
ja_71593_train = df_71593_train[(df_71593_train['source_language_code'] == 'ko') & (df_71593_train['target_language_code'] == 'ja')]
ja_71593_eval = df_71593_eval[(df_71593_eval['source_language_code'] == 'ko') & (df_71593_eval['target_language_code'] == 'ja')]
zh_71593_train = df_71593_train[(df_71593_train['source_language_code'] == 'ko') & (df_71593_train['target_language_code'] == 'zh')]
zh_71593_eval = df_71593_eval[(df_71593_eval['source_language_code'] == 'ko') & (df_71593_eval['target_language_code'] == 'zh')]

print(f"JA: {len(ja_71593_train)} / {len(ja_71593_eval)}")
print(f"ZH: {len(zh_71593_train)} / {len(zh_71593_eval)}")

JA: 326065 / 40749
ZH: 328900 / 41102

In [60]:
df_ja = add_new_data(df_ja, ja_71593_train, 'ja', 'source_sentence', 'target_sentence', 71593)
df_ja = add_new_data(df_ja, ja_71593_eval, 'ja', 'source_sentence', 'target_sentence', 71593)

Added 326065 new data from aihub-71593: 4327973 -> 4654038
Added 40749 new data from aihub-71593: 4654038 -> 4694787

In [61]:
df_zh = add_new_data(df_zh, zh_71593_train, 'zh', 'source_sentence', 'target_sentence', 71593)
df_zh = add_new_data(df_zh, zh_71593_eval, 'zh', 'source_sentence', 'target_sentence', 71593)

Added 328900 new data from aihub-71593: 5785715 -> 6114615
Added 41102 new data from aihub-71593: 6114615 -> 6155717

In [62]:
print(len(df_ja['ko']))
print(len(df_ja['ja']))
print(len(df_ja['source']))

4694787
4694787
4694787

In [63]:
df_ja = pd.DataFrame(df_ja)
df_zh = pd.DataFrame(df_zh)

display(df_ja.head())
print(len(df_ja))
display(df_zh.head())
print(len(df_zh))

,ko,ja,source
0,본 고안의 목적은 고정력 스프링에 의해 파손이 발생하지 않는 보강된 인너도어 샤프트...,本考案の目的は、固定力スプリングによる破損が発生しない補強されたインナードアシャフトを提供す...,aihub-127
1,본 발명은 컴팩트한 구성에 의해 부품의 펀칭과 흡착이송이 가능하도록 구비되어 제조공...,本発明は、コンパクトな構成により部品のパンチングと吸着移送ができるように具備され、製造工程上...,aihub-127
2,"본 발명은 휴대단말기용 메탈케이스에 관한 것으로서, 특히 금속으로 이루어진 휴대단말...",本発明は、携帯端末機用メタルケースの製造方法に関するもので、特に金属からなる携帯端末機のケー...,aihub-127
3,그리고 상기 인덕턴스의 등가 저항값이 변화됨에 따라 인덕턴스의 통하여 흐르는 전류가...,そして、上記のインダクタンスの等価抵抗値が変化することによって、インダクタンスを通じて流れる...,aihub-127
4,본 고안은 인쇄회로기판의 착탈 고정 장치에 관한 것이다.,本考案は、印刷回路基板の着脱固定装置に関するものだ。,aihub-127

4694787

,ko,zh,source
0,본 발명은 플러그를 통해 공급되는 주전원의 주파수 특성을 검출하여 주파수의 제로전위...,"本发明可以检测通过插头供应的主电源的频率特性,并为使从接近该频率零电位的上升电位连接到继电器...",aihub-128
1,"본 발명은 셀룰라폰에 관한 것으로, 셀룰라폰의 이동으로 소정시간이상 서어비스 지역을...","本发明是关于蜂窝电话的发明,当由于手机的移动而离开服务区域超过预定时间时自动关闭电源,并以预...",aihub-128
2,"또한, 셀 멀티 카피 기능을 활용하기 위한 자원 관리를 수행하지 않기 때문에 하나의...","另外,因为不执行利用单元多功能复制的资源管理,所以存在无法向多个用户提供同一个音调的缺点。",aihub-128
3,엔코더가 부착된 모터의 경우 회전량과 회전 속도를 측정할 수 있다.,"安装有编码器的电动机,可以测量回转量和回转速度。",aihub-128
4,"본 발명은 반도체 스퍼터링(Sputtering)장비에 있어서, 진공 펌프의 모터를 ...","本发明是关于一种用于保护真空泵的电动机,免受半导体溅射(Sputtering)设备中的过电流...",aihub-128

6155717

In [64]:
df_ja.to_csv('./integrated_total/ja_total.csv')
df_zh.to_csv('./integrated_total/zh_total.csv')

In [67]:
df_ja = pd.read_csv('./integrated_total/ja_total.csv')
df_zh = pd.read_csv('./integrated_total/zh_total.csv')

ja_len_old = len(df_ja)
zh_len_old = len(df_zh)

In [68]:
df_ja = df_ja.dropna()
df_zh = df_zh.dropna()

print(f"JA: {ja_len_old} -> {len(df_ja)}: {ja_len_old - len(df_ja)} removed (NaN)")
print(f"ZH: {zh_len_old} -> {len(df_zh)}: {zh_len_old - len(df_zh)} removed (NaN)")
ja_len_old = len(df_ja)
zh_len_old = len(df_zh)

JA: 4694787 -> 4694777: 10 removed (NaN)
ZH: 6155717 -> 6155709: 8 removed (NaN)

In [69]:
df_ja = df_ja.drop_duplicates(subset=['ko', 'ja'])
df_zh = df_zh.drop_duplicates(subset=['ko', 'zh'])

print(f"JA: {ja_len_old} -> {len(df_ja)}: {ja_len_old - len(df_ja)} removed (duplicates)")
print(f"ZH: {zh_len_old} -> {len(df_zh)}: {zh_len_old - len(df_zh)} removed (duplicates)")
ja_len_old = len(df_ja)
zh_len_old = len(df_zh)

JA: 4694777 -> 4339465: 355312 removed (duplicates)
ZH: 6155709 -> 5934596: 221113 removed (duplicates)

In [70]:
df_ja.to_csv('./integrated_total/ja_large.csv', index=False)
df_zh.to_csv('./integrated_total/zh_large.csv', index=False)

In [99]:
df_ja_large = df_ja.copy()
df_ja_base = df_ja.sample(n=1000000, random_state=42)
df_ja_small = df_ja_base.sample(n=100000, random_state=42)

# df_ja_base.to_csv('./integrated_total/ja_base.csv', index=False)
# df_ja_small.to_csv('./integrated_total/ja_small.csv', index=False)

In [100]:
df_zh_large = df_zh.copy()
df_zh_base = df_zh.sample(n=1000000, random_state=42)
df_zh_small = df_zh_base.sample(n=100000, random_state=42)

# df_zh_base.to_csv('./integrated_total/zh_base.csv', index=False)
# df_zh_small.to_csv('./integrated_total/zh_small.csv', index=False)

In [101]:
display(df_ja_large['source'].value_counts())
display(df_zh_large['source'].value_counts())

display(df_ja_base['source'].value_counts())
display(df_zh_base['source'].value_counts())

display(df_ja_small['source'].value_counts())
display(df_zh_small['source'].value_counts())

source
aihub-127      1350000
aihub-546      1343763
aihub-71263     887425
aihub-71593     212119
aihub-71493     124142
aihub-71524     120168
aihub-71591     112978
aihub-71496      81449
aihub-71498      80431
aihub-71411      26990
Name: count, dtype: int64

source
aihub-546      1349470
aihub-71262    1326837
aihub-129      1170000
aihub-128      1170000
aihub-71263     367921
aihub-71593     212268
aihub-71493     146317
aihub-71496      84419
aihub-71498      80375
aihub-71411      26989
Name: count, dtype: int64

source
aihub-127      310654
aihub-546      309964
aihub-71263    204427
aihub-71593     48786
aihub-71493     28407
aihub-71524     27702
aihub-71591     26160
aihub-71496     18878
aihub-71498     18666
aihub-71411      6356
Name: count, dtype: int64

source
aihub-546      227238
aihub-71262    223537
aihub-128      197481
aihub-129      197059
aihub-71263     61972
aihub-71593     36122
aihub-71493     24590
aihub-71496     14129
aihub-71498     13316
aihub-71411      4556
Name: count, dtype: int64

source
aihub-546      30975
aihub-127      30895
aihub-71263    20497
aihub-71593     4992
aihub-71493     2855
aihub-71524     2699
aihub-71591     2679
aihub-71498     1898
aihub-71496     1873
aihub-71411      637
Name: count, dtype: int64

source
aihub-546      22797
aihub-71262    22105
aihub-129      19949
aihub-128      19678
aihub-71263     6095
aihub-71593     3614
aihub-71493     2480
aihub-71496     1450
aihub-71498     1375
aihub-71411      457
Name: count, dtype: int64

In [112]:
ja_large = df_ja_large.copy()
zh_large = df_zh_large.copy()

In [110]:
def sample_and_remove(df, n, sources):
    sample_df_list = []
    remaining_df_list = []
    
    for source in sources:
        source_df = df[df['source'] == source]
        sample_df = source_df.sample(n=n, random_state=42)
        remaining_df = source_df.drop(sample_df.index)
        
        sample_df_list.append(sample_df)
        remaining_df_list.append(remaining_df)
    
    return pd.concat(sample_df_list), pd.concat(remaining_df_list)

In [114]:
ja_sources = ja_large['source'].unique()
zh_sources = zh_large['source'].unique()

ja_test, ja_large = sample_and_remove(ja_large, 200, ja_sources)
zh_test, zh_large = sample_and_remove(zh_large, 200, zh_sources)

ja_eval, ja_large = sample_and_remove(ja_large, 1000, ja_sources)
zh_eval, zh_large = sample_and_remove(zh_large, 1000, zh_sources)

print(f"JA: {len(ja_large)} train / {len(ja_eval)} eval / {len(ja_test)} test")
print(f"ZH: {len(zh_large)} train / {len(zh_eval)} eval / {len(zh_test)} test")

JA: 4327465 train / 10000 eval / 2000 test
ZH: 5922596 train / 10000 eval / 2000 test

In [115]:
ja_base = ja_large.sample(n=1000000, random_state=42)
zh_base = zh_large.sample(n=1000000, random_state=42)

ja_small = ja_base.sample(n=100000, random_state=42)
zh_small = zh_base.sample(n=100000, random_state=42)

In [116]:
ja_large.to_csv('./integrated_total/ja_large_train.csv', index=False)
zh_large.to_csv('./integrated_total/zh_large_train.csv', index=False)
ja_base.to_csv('./integrated_total/ja_base_train.csv', index=False)
zh_base.to_csv('./integrated_total/zh_base_train.csv', index=False)
ja_small.to_csv('./integrated_total/ja_small_train.csv', index=False)
zh_small.to_csv('./integrated_total/zh_small_train.csv', index=False)

ja_eval.to_csv('./integrated_total/ja_eval.csv', index=False)
zh_eval.to_csv('./integrated_total/zh_eval.csv', index=False)

ja_test.to_csv('./integrated_total/ja_test.csv', index=False)
zh_test.to_csv('./integrated_total/zh_test.csv', index=False)

In [117]:
len(ja_large), len(zh_large)

(4327465, 5922596)

In [2]:
import pandas as pd
from datasets import load_dataset

In [3]:
en_name = 'traintogpb/aihub-flores-koen-integrated-prime-base-300k'
ja_name = 'traintogpb/aihub-koja-integrated-prime-base-300k'
zh_name = 'traintogpb/aihub-kozh-integrated-prime-base-300k'

In [26]:
en_base_name = 'traintogpb/aihub-koen-translation-integrated-base-1m'
ja_base_name = 'traintogpb/aihub-koja-translation-integrated-base-1m'
zh_base_name = 'traintogpb/aihub-kozh-translation-integrated-base-1m'

In [4]:
en = load_dataset(en_name)
ja = load_dataset(ja_name)
zh = load_dataset(zh_name)

print(f"EN dataset: {len(en['train'])} train / {len(en['validation'])} validation / {len(en['test'])} test")
print(f"JA dataset: {len(ja['train'])} train / {len(ja['validation'])} validation / {len(ja['test'])} test")
print(f"ZH dataset: {len(zh['train'])} train / {len(zh['validation'])} validation / {len(zh['test'])} test")

Downloading readme:   0%|          | 0.00/2.13k [00:00<?, ?B/s]

EN dataset: 296809 train / 1000 validation / 1000 test
JA dataset: 300000 train / 10000 validation / 2000 test
ZH dataset: 300000 train / 10000 validation / 2000 test

In [28]:
en_base = load_dataset(en_base_name, split='train')
ja_base = load_dataset(ja_base_name, split='train')
zh_base = load_dataset(zh_base_name, split='train')

print(f"EN base dataset: {len(en_base)} train")
print(f"JA base dataset: {len(ja_base)} train")
print(f"ZH base dataset: {len(zh_base)} train")

EN base dataset: 833321 train
JA base dataset: 1000000 train
ZH base dataset: 1000000 train

In [37]:
en_train, en_eval, en_test = pd.DataFrame(en['train']), pd.DataFrame(en['validation']), pd.DataFrame(en['test'])
ja_train, ja_eval, ja_test = pd.DataFrame(ja['train']), pd.DataFrame(ja['validation']), pd.DataFrame(ja['test'])
zh_train, zh_eval, zh_test = pd.DataFrame(zh['train']), pd.DataFrame(zh['validation']), pd.DataFrame(zh['test'])

en_train.columns = ['ko_xcomet', 'ko', 'en', 'source']

display(en_train.head(1))
display(ja_train.head(1))
display(zh_train.head(1))

,ko_xcomet,ko,en,source
0,98.513722,문재인 대통령이 국회 시정연설에서 전관예우 금지를 언급한 뒤 하루만에 나온 조치다.,The measure came out a day after President Moo...,aihub-111

   ko_xcomet            ko            ja     source
0      100.0  길 찾기가 너무 편해.  道を探すのがすごく楽だ。  aihub-546

,ko_xcomet,ko,zh,source
0,100.0,DON은 장 상피세포가 염증인자를 분비하도록 유도하여 장염을 유발할 수 있다.,DON可诱导肠上皮细胞分泌炎症因子，从而引起肠道炎症。,aihub-71262

In [29]:
en_base = pd.DataFrame(en_base)
ja_base = pd.DataFrame(ja_base)
zh_base = pd.DataFrame(zh_base)

display(en_base.head(1))
display(ja_base.head(1))
display(zh_base.head(1))

,ko,en,source
0,지방세법 개정안에 따른 종합부동산세는 부과징수권자의 경우를 제외하고는 대부분 종전 ...,Comprehensive real estate tax according to the...,125

                   ko                 ja     source
0  우리는 이 영화에서 함께 일해요.  私たちはこの映画で一緒に働きます。  aihub-546

                           ko                 zh       source
0  하지만 4베이러, AAA공주님을 왜 찾으십니까?  不过四贝勒，找孙带格格有何要事吗。  aihub-71263

In [22]:
# display(en_train['source'].value_counts())
display(ja_train['source'].value_counts())
display(zh_train['source'].value_counts())

source
aihub-546      151404
aihub-127       62446
aihub-71263     44730
aihub-71524      8864
aihub-71593      8277
aihub-71493      7709
aihub-71496      5474
aihub-71498      5469
aihub-71591      4171
aihub-71411      1456
Name: count, dtype: int64

source
aihub-546      134658
aihub-128       52739
aihub-129       40669
aihub-71262     30682
aihub-71263     17407
aihub-71493      7862
aihub-71593      6210
aihub-71496      4361
aihub-71498      4179
aihub-71411      1233
Name: count, dtype: int64

In [31]:
from collections import OrderedDict

en_base_values = en_base['source'].value_counts().to_dict()
ja_base_values = ja_base['source'].value_counts().to_dict()
zh_base_values = zh_base['source'].value_counts().to_dict()

en_base_values = OrderedDict(sorted(en_base_values.items()))
ja_base_values = OrderedDict(sorted(ja_base_values.items()))
zh_base_values = OrderedDict(sorted(zh_base_values.items()))

display(en_base_values)
display(ja_base_values)
display(zh_base_values)

OrderedDict([(111, 107520),
             (124, 108014),
             (125, 108894),
             (126, 128104),
             (563, 28969),
             (71265, 198471),
             (71266, 106518),
             (71382, 46831)])

OrderedDict([('aihub-127', 311445),
             ('aihub-546', 310771),
             ('aihub-71263', 204519),
             ('aihub-71411', 5981),
             ('aihub-71493', 28243),
             ('aihub-71496', 18529),
             ('aihub-71498', 18480),
             ('aihub-71524', 27647),
             ('aihub-71591', 25813),
             ('aihub-71593', 48572)])

OrderedDict([('aihub-128', 197720),
             ('aihub-129', 196823),
             ('aihub-546', 227772),
             ('aihub-71262', 223605),
             ('aihub-71263', 61925),
             ('aihub-71411', 4350),
             ('aihub-71493', 24547),
             ('aihub-71496', 14136),
             ('aihub-71498', 13286),
             ('aihub-71593', 35836)])

In [38]:
criteria_en = {
    111: 10000,
    124: 7500,
    125: 10000,
    126: 15000,
    563: 5000,
    71265: 30000,
    71266: 7500,
    71382: 15000,
}
criteria_ja = {
    127: 13580,
    546: 30000,
    71263: 15000,
    71411: 1456,
    71493: 7709,
    71496: 5474,
    71498: 5469,
    71524: 8864,
    71591: 4171,
    71593: 8277,
}
criteria_zh = {
    128: 10000,
    129: 16155,
    546: 30000,
    71262: 5000,
    71263: 15000,
    71411: 1233,
    71493: 7862,
    71496: 4361,
    71498: 4179,
    71593: 6210,
}

In [39]:
def extract_top_n(df, criteria):
    result = pd.DataFrame()
    for source, count in criteria.items():
        subset = df[df['source'] == f'aihub-{source}']
        top_n_subset = subset.nlargest(count, 'ko_xcomet')
        result = pd.concat([result, top_n_subset])
    return result

In [41]:
en_top = extract_top_n(en_train, criteria_en)
ja_top = extract_top_n(ja_train, criteria_ja)
zh_top = extract_top_n(zh_train, criteria_zh)

display(en_top.head())
print(len(en_top))
display(ja_top.head())
print(len(ja_top))
display(zh_top.head())
print(len(zh_top))

display(en_top['source'].value_counts())
display(ja_top['source'].value_counts())
display(zh_top['source'].value_counts())

,ko_xcomet,ko,en,source
10,100.0,3회 모두 꼭 참여해주셔야 하오니 사전에 일정 조율하셔서 신청해주시기 바랍니다.,"You must participate in all three sessions, so...",aihub-111
113,100.0,문제는 부모의 주관적인 판단이 개입될 여지가 많다는 점이다.,The problem is that there is much room for par...,aihub-111
149,100.0,신규 가입자가 지난 1∼2월보다 30% 이상 증가한 셈이다.,It means that the number of new subscribers ha...,aihub-111
283,100.0,전반적으로는 앞으로 금리가 더 떨어질 것으로 연준이 예상하고 잇다는 점이 드러났다.,"Overall, it turned out that the Fed is expecti...",aihub-111
365,100.0,이런 항생제들은 균을 죽이는 효과가 강력한 만큼 부작용도 큽니다.,These antibiotics have great side effects as t...,aihub-111

100000

,ko_xcomet,ko,ja,source
1,100.0,"예방접종은 감염병 예방에 가장 효과적인 수단이며, 예방접종을 받으면 감염될 경우에도...",予防接種は感染症の予防に最も効果的な手段であり、予防接種を受ければ感染した場合にも深刻な合併...,aihub-127
2,100.0,이러한 스펙을 강조하기 위하여 후면 카메라 모듈 아래에는 100X라는 문구가 디자인...,このようなスペックを強調するために、背面カメラのモジュールの下には、100Xという文句がデザ...,aihub-127
8,100.0,검사 준비에만 2시간이 넘게 걸려 보통 1회 검사에 최소 4시간 이상이 소요된다.,検査準備だけで2時間以上かかり、通常1回の検査に少なくとも4時間以上かかる。,aihub-127
20,100.0,"실제, 수출과 연관성이 높은 광공업 생산지수는 지난해 4분기에 전분기 대비 4.0%...",実際、輸出と関連性の高い鉱工業の生産指数は昨年第4四半期に前四半期に比べて4.0%減少しました。,aihub-127
36,100.0,양적완화는 경기부양 효과도 크지만 장기화할 경우 인플레이션 압력이 누적된다는 단점이...,量的緩和は景気浮揚効果も大きいが、長期化する場合、インフレーション圧力が累積するという短所が...,aihub-127

100000

,ko_xcomet,ko,zh,source
118,100.0,하지만 이 같은 방식이 의료 시스템의 한정된 자원을 가장 도움이 절실한 중증 환자에...,"但也有人主张,这种方式可以将医疗系统的有限资源集中到最迫切需要帮助的重症患者身上,从而减少死...",aihub-128
257,100.0,본 발명은 네트워크에서의 데이터 전송방법에 관한 것이다.,本发明是关于网络数据传输方法的。,aihub-128
311,100.0,DID는 블록체인 기술로 개인의 신원을 증명하는 새로운 기술이다.,DID是用区块链技术证明个人身份的新技术。,aihub-128
349,100.0,미래 자동차가 보여줄 새로운 디자인을 경험하는 시간도 갖는다.,我们还将体验未来汽车将展示的新设计。,aihub-128
582,100.0,정부는 내년 초 게임산업 중장기 계획을 발표할 방침이다.,政府计划明年初发表游戏产业中长期计划。,aihub-128

100000

source
aihub-71265    30000
aihub-126      15000
aihub-71382    15000
aihub-111      10000
aihub-125      10000
aihub-124       7500
aihub-71266     7500
aihub-563       5000
Name: count, dtype: int64

source
aihub-546      30000
aihub-71263    15000
aihub-127      13580
aihub-71524     8864
aihub-71593     8277
aihub-71493     7709
aihub-71496     5474
aihub-71498     5469
aihub-71591     4171
aihub-71411     1456
Name: count, dtype: int64

source
aihub-546      30000
aihub-129      16155
aihub-71263    15000
aihub-128      10000
aihub-71493     7862
aihub-71593     6210
aihub-71262     5000
aihub-71496     4361
aihub-71498     4179
aihub-71411     1233
Name: count, dtype: int64

In [43]:
top_train = pd.concat([en_top, ja_top, zh_top])

print(len(top_train))
display(top_train['source'].value_counts())

300000

source
aihub-546      60000
aihub-71265    30000
aihub-71263    30000
aihub-129      16155
aihub-71493    15571
aihub-126      15000
aihub-71382    15000
aihub-71593    14487
aihub-127      13580
aihub-128      10000
aihub-111      10000
aihub-125      10000
aihub-71496     9835
aihub-71498     9648
aihub-71524     8864
aihub-71266     7500
aihub-124       7500
aihub-563       5000
aihub-71262     5000
aihub-71591     4171
aihub-71411     2689
Name: count, dtype: int64

In [44]:
display(en_eval['source'].value_counts())
print(len(en_eval))
display(ja_eval['source'].value_counts())
print(len(ja_eval))
display(zh_eval['source'].value_counts())
print(len(zh_eval))

source
aihub-71265    238
aihub-126      168
aihub-71266    134
aihub-125      134
aihub-124      127
aihub-111      119
aihub-71382     44
aihub-563       36
Name: count, dtype: int64

1000

source
aihub-127      1000
aihub-546      1000
aihub-71263    1000
aihub-71411    1000
aihub-71493    1000
aihub-71496    1000
aihub-71498    1000
aihub-71524    1000
aihub-71591    1000
aihub-71593    1000
Name: count, dtype: int64

10000

source
aihub-128      1000
aihub-129      1000
aihub-546      1000
aihub-71262    1000
aihub-71263    1000
aihub-71411    1000
aihub-71493    1000
aihub-71496    1000
aihub-71498    1000
aihub-71593    1000
Name: count, dtype: int64

10000

In [46]:
en_base_eval = load_dataset(en_base_name, split='validation')
en_base_eval = pd.DataFrame(en_base_eval)
display(en_base_eval['source'].value_counts())
print(len(en_base_eval))

source
71265    25017
126      16100
111      13574
124      13537
125      13444
71266    13154
71382     5729
563       3610
Name: count, dtype: int64

104165

In [47]:
# en_base_eval에서 source 별로 1000개씩 데이터 추출
en_eval_new = pd.DataFrame()
for src in en_base_eval['source'].unique():
    subset = en_base_eval[en_base_eval['source'] == src]
    sample = subset.sample(n=1000, random_state=42)
    en_eval_new = pd.concat([en_eval_new, sample])

display(en_eval_new['source'].value_counts())
print(len(en_eval_new))

source
71266    1000
71265    1000
126      1000
111      1000
124      1000
125      1000
71382    1000
563      1000
Name: count, dtype: int64

8000

In [54]:
en_eval_new['ko_xcomet'] = None
en_eval_new = en_eval_new[['ko_xcomet', 'ko', 'en', 'source']]
en_eval_new['source'] = en_eval_new['source'].apply(lambda x: f'aihub-{x}')
display(en_eval_new.head())

,ko_xcomet,ko,en,source
16804,None,브라질의 코로나19 신규 확진자가 나흘째 5만 명을 넘는 등 피해가 확산하고 있다.,"For the fourth day in a row, the number of new...",aihub-71266
79615,None,"터치패드는 터치스크린(112)으로부터 분리된 터치 감지 표면이거나, 터치스크린에 의...",The touch pad may be a touch-sensitive surface...,aihub-71266
22035,None,일본 정부는 미국 공화당 대선 선두 주자인 도널드 트럼프 때문에 당분간 핵무기를 보...,The Japanese government is expected to place g...,aihub-71266
48069,None,콘텐츠 퍼블리셔(120)는 애플리케이션이 어떻게 네이티브 콘텐츠 아이템을 어셈블링하...,The content publisher 120 may set predetermine...,aihub-71266
59486,None,파악하기 위해 1인당 GDP 성장률을 종속변수로 하고 지리변수와 기후변수를 통제하여...,"To understand this, regression analysis was co...",aihub-71266

In [55]:
top_eval = pd.concat([en_eval_new, ja_eval, zh_eval])
display(top_eval['source'].value_counts())
print(len(top_eval))

source
aihub-71498    2000
aihub-546      2000
aihub-71263    2000
aihub-71411    2000
aihub-71493    2000
aihub-71496    2000
aihub-71593    2000
aihub-124      1000
aihub-71265    1000
aihub-71266    1000
aihub-111      1000
aihub-126      1000
aihub-127      1000
aihub-125      1000
aihub-71382    1000
aihub-563      1000
aihub-71524    1000
aihub-71591    1000
aihub-128      1000
aihub-129      1000
aihub-71262    1000
Name: count, dtype: int64

28000

In [56]:
display(en_test['source'].value_counts())
print(len(en_test))
display(ja_test['source'].value_counts())
print(len(ja_test))
display(zh_test['source'].value_counts())
print(len(zh_test))

source
flores-devtest    104
aihub-71266       100
aihub-71265       100
aihub-111         100
aihub-126         100
aihub-124         100
aihub-563         100
aihub-125         100
aihub-71382       100
flores-dev         96
Name: count, dtype: int64

1000

source
aihub-127      200
aihub-546      200
aihub-71263    200
aihub-71411    200
aihub-71493    200
aihub-71496    200
aihub-71498    200
aihub-71524    200
aihub-71591    200
aihub-71593    200
Name: count, dtype: int64

2000

source
aihub-128      200
aihub-129      200
aihub-546      200
aihub-71262    200
aihub-71263    200
aihub-71411    200
aihub-71493    200
aihub-71496    200
aihub-71498    200
aihub-71593    200
Name: count, dtype: int64

2000

In [69]:
# en_test에서 source가 flores로 시작하는 데이터를 제외
en_test_new = en_test[~en_test['source'].str.startswith('flores')]
display(en_test_new['source'].value_counts())
print(len(en_test_new))

source
aihub-71266    100
aihub-71265    100
aihub-111      100
aihub-126      100
aihub-124      100
aihub-125      100
aihub-563      100
aihub-71382    100
Name: count, dtype: int64

800

In [70]:
en_test_new.head()

,ko_xcomet,ko,en,source
0,None,초국가 기구는 협상 과정에서 협상 기회를 창출하거나 결정권자들의 갈등을 완화시키는 ...,Transnational institutions act as intermediari...,aihub-71266
1,None,그래서 뭐 고를 건데?,So what are you going to choose?,aihub-71265
2,None,당시 사업주체인 Y22프로젝트파이낸싱인베스트먼트와 토지 소유주인 통일교재단 사이에 ...,"This is because, at that time, a lawsuit about...",aihub-111
3,None,우리나라에서도 종래 시･도 단위의 비교적 큰 공간 단위를 분석 대상으로 접근하던 지...,"In Korea, too, there is an increasing number o...",aihub-71266
5,None,AI를 활용해 인류가 직면한 시·공간 및 지능의 한계를 극복하고 공공 목적의 국민생...,The policy is to use AI to overcome the limita...,aihub-111

In [59]:
# ja_test, zh_test에서 각 source 별로 100개씩만 추출해 ja_test_new, zh_test_new로 만들기
ja_test_new = pd.DataFrame()
for src in ja_test['source'].unique():
    subset_ja = ja_test[ja_test['source'] == src]
    sample_ja = subset_ja.sample(n=100, random_state=42)
    ja_test_new = pd.concat([ja_test_new, sample_ja])

zh_test_new = pd.DataFrame()
for src in zh_test['source'].unique():
    subset_zh = zh_test[zh_test['source'] == src]
    sample_zh = subset_zh.sample(n=100, random_state=42)
    zh_test_new = pd.concat([zh_test_new, sample_zh])

display(ja_test_new['source'].value_counts())
print(len(ja_test_new))
display(zh_test_new['source'].value_counts())
print(len(zh_test_new))

source
aihub-127      100
aihub-546      100
aihub-71263    100
aihub-71411    100
aihub-71493    100
aihub-71496    100
aihub-71498    100
aihub-71524    100
aihub-71591    100
aihub-71593    100
Name: count, dtype: int64

1000

source
aihub-128      100
aihub-129      100
aihub-546      100
aihub-71262    100
aihub-71263    100
aihub-71411    100
aihub-71493    100
aihub-71496    100
aihub-71498    100
aihub-71593    100
Name: count, dtype: int64

1000

In [71]:
top_test = pd.concat([en_test_new, ja_test_new, zh_test_new])
display(top_test['source'].value_counts())
print(len(top_test))

source
aihub-71498    200
aihub-546      200
aihub-71263    200
aihub-71411    200
aihub-71493    200
aihub-71496    200
aihub-71593    200
aihub-124      100
aihub-71265    100
aihub-71266    100
aihub-126      100
aihub-111      100
aihub-127      100
aihub-125      100
aihub-563      100
aihub-71382    100
aihub-71524    100
aihub-71591    100
aihub-128      100
aihub-129      100
aihub-71262    100
Name: count, dtype: int64

2800

In [72]:
print(len(top_train))
print(len(top_eval))
print(len(top_test))

300000
28000
2800

In [73]:
print(top_train.columns)
print(top_eval.columns)
print(top_test.columns)

Index(['ko_xcomet', 'ko', 'en', 'source', 'ja', 'zh'], dtype='object')
Index(['ko_xcomet', 'ko', 'en', 'source', 'ja', 'zh'], dtype='object')
Index(['ko_xcomet', 'ko', 'en', 'source', 'ja', 'zh'], dtype='object')

In [80]:
from collections import defaultdict

def set_mmt_dataset(df):
    mmt_dataset = defaultdict(list)
    default_cols = ['ko_xcomet', 'ko', 'source']
    for _, row in df.iterrows():
        tgt_cols = [col for col in df.columns if col not in default_cols]
        for col in tgt_cols:
            if pd.isna(row[col]):
                continue
            tgt_col = col
        print(tgt_col)

    return mmt_dataset

In [81]:
mmt_train = set_mmt_dataset(top_train)

Index(['ko_xcomet', 'ko', 'en', 'source', 'ja', 'zh'], dtype='object')

In [63]:
top_train.to_csv('./top_train.csv', index=False)
top_eval.to_csv('./top_eval.csv', index=False)
top_test.to_csv('./top_test.csv', index=False)